<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TESTSUITE_SCRIPTS_DIR">
            <Component Id="cmp8888FE0FFF63AC9B4DFE674712DB511F" Guid="{2FADA699-31AD-4572-B21E-7CD113906353}">
                <File Id="fil0EE2892C1E15179040FC774B54E8C3FC" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Add-IADGroupMember.ps1" />
            </Component>
            <Component Id="cmpDA9D588D7D8F8FAE6A1E1C029AB702C9" Guid="{D784164E-8DCA-4B32-BB8B-3511283E9373}">
                <File Id="filD1173F835381317E530523B58F08048C" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\addStartupScript.reg" />
            </Component>
            <Component Id="cmp349DB4D40B3A7295D8E98C9BDA8C31D5" Guid="{D51BBA58-2733-44F4-B785-E458F6566DED}">
                <File Id="fil53C322C9ABAE06406FBACA12D6A13973" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\AutoLogon.reg" />
            </Component>
            <Component Id="cmp0604573316D0E8F51BD6B13DC675095F" Guid="{3493899F-6880-4587-A38F-B423624B8DE4}">
                <File Id="fil0EF2328469B56A709FAC1DEF59A51B2C" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\CleanupSignals.cmd" />
            </Component>
            <Component Id="cmpD9365DD625B04FE4339E6B9088B0E455" Guid="{845B775E-F6C8-450A-BC1D-8BACC42AB497}">
                <File Id="filCE05B3F7909AD55F82E9E77D4CD56933" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Config-ClientComputer.ps1" />
            </Component>
            <Component Id="cmpABD95FA2C4CED369A395AA50DA4DBE10" Guid="{4E696550-3949-4ECB-B37E-0AEBD9DF8581}">
                <File Id="fil9468057287EB9D7120B00DA433B453CF" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Config-DriverComputer.ps1" />
            </Component>
            <Component Id="cmpBADC0222D547C9B44CBA81FF1A0A55AF" Guid="{2DC9F177-689F-4C7C-BE3E-4858262F0BF5}">
                <File Id="filE8127D6E76F82CB733E41DD6694D7A2F" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Enable-RemoteSessionInServer.ps1" />
            </Component>
            <Component Id="cmpD27B80DF3B9177DBE28140E457B32383" Guid="{92AAC9AB-1376-4D35-B8D6-A2688A71E970}">
                <File Id="fil093BB695F8268A5489673235468E3E21" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Fix-XmlLogFile.ps1" />
            </Component>
            <Component Id="cmp40B0B83B655D155F55B469A2A1F70519" Guid="{95C57928-24B7-4940-A736-A34BA8535BF0}">
                <File Id="filEA57D74DB974B63F56692E88F10A3F5B" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Get-IADComputer.ps1" />
            </Component>
            <Component Id="cmpEEE0453F8846A1A2DA3F71BD08F6C75C" Guid="{AB749BDB-C3E8-467D-BEB4-6FE6A9FBDA50}">
                <File Id="filC9743A97250343662AC8CFB4381AE2F1" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Get-IADDomainControllers.ps1" />
            </Component>
            <Component Id="cmpB0ED4429C1B92DDA63BCFDB362A90CDD" Guid="{029D9982-4BAE-4E28-B4F2-2342F9C7CC72}">
                <File Id="filC5DAD7A5F63EDB3153C6A3C3E690E702" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Get-IADGroup.ps1" />
            </Component>
            <Component Id="cmp180C32E86BAAF4F17566C0BDBE2816E5" Guid="{EF224837-5BDA-4D35-A3E7-616B66C4E920}">
                <File Id="fil74BC4D0C598C4BC6BDEAC9542403EE8B" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Get-IADGroupMember.ps1" />
            </Component>
            <Component Id="cmp914FF26C1EB06DA3EBA47438E453CFEE" Guid="{E62B7699-9EDF-4ACD-B699-9F65F1B6FFBF}">
                <File Id="fil6927A1A72600BD9543AB093BB7CE5755" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Get-IADGroupMembership.ps1" />
            </Component>
            <Component Id="cmp0D0A2C373F7F9C94DB10420E39FE2667" Guid="{0A283608-9C90-43E2-B03B-B44A2D701C5A}">
                <File Id="fil5FA5DC6D24487674B31A47423F43209B" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Get-IADSearchRoot.ps1" />
            </Component>
            <Component Id="cmpE312B5E02B8B6926D627216A4320A0FC" Guid="{8D048CEF-8D8B-4361-BB7C-733D80A5A91B}">
                <File Id="fil4B6258F9F1AB15230E7D2063DB7CC120" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Get-IADUser.ps1" />
            </Component>
            <Component Id="cmp8B0241E84F4B427A30FC4114FB47CDD1" Guid="{6AE305EB-DB50-4804-B022-CF745026C7B5}">
                <File Id="fil167DB6A0118659CD5DA1C2C59553D3DE" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Get-Parameter.ps1" />
            </Component>
            <Component Id="cmp1BECC399A466BDC7E600FA1257E757FD" Guid="{49175336-F294-4A60-A2AF-4AD4EA977A95}">
                <File Id="fil9A735FB7369BD95CE67BFC8D2CE174A6" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\IsJoinDomainSuccess.sh" />
            </Component>
            <Component Id="cmpF48C1A7CB1AC0CC75E75A761AA5C54FC" Guid="{F63980CB-1D0C-4F20-A9FA-E57443B67BA6}">
                <File Id="filF40E55FC0AEE8AD6C03FB4006B153E22" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\IsUnjoinDomainSuccess.sh" />
            </Component>
            <Component Id="cmp9BE6D28D3BA438EFCA32FDC33F1918A3" Guid="{89D4E804-E905-4633-B03E-7857A87A7D97}">
                <File Id="filC5A1A92AA5456F6C4F4F9FE0B6D62506" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Join-Domain.ps1" />
            </Component>
            <Component Id="cmpF1BD72975819FD27152248DE1F9E9EFD" Guid="{48D82761-76C9-4153-B17C-09AB8A334DCA}">
                <File Id="filFFAA80F1E7D49A2E354BEED889E16C92" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\JoinDomainCreateAcctLDAP.sh" />
            </Component>
            <Component Id="cmp1E2318CC7679C1133EF27499E2F8970D" Guid="{D26C202D-8450-41F3-B48C-AD9B355C3124}">
                <File Id="fil80C7F354461F9FFA8ED41576336C5C06" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\JoinDomainCreateAcctSAMR.sh" />
            </Component>
            <Component Id="cmp592A93EA0969234A9DEE5BA5F13A89BD" Guid="{58E620E1-05F3-4B84-8113-327BFF40897B}">
                <File Id="fil45777FBD2FDDFDFF8DBCB48EC4B967EE" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\JoinDomainPredefAcct.sh" />
            </Component>
            <Component Id="cmpD4E474312CF09863E0C399C11F4A7BF1" Guid="{3A6E155B-2D7A-4C83-B7C2-A4108CFCE6C8}">
                <File Id="filC27362EBD59B7A549D5519730827D443" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\LocateDomainController.sh" />
            </Component>
            <Component Id="cmp5BCE15890AC54432CA6426BC4E558D69" Guid="{6B383700-9FCE-4A68-B803-8970AD6D8DB8}">
                <File Id="filDAE53E773F9A66691EEC36F664B5D397" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Modify-ConfigFileNode.ps1" />
            </Component>
            <Component Id="cmp80A51F220A5DA0D33EB6EB97C4EE535B" Guid="{969BDB9C-5AEA-4C8C-B28E-A2F391103229}">
                <File Id="fil7CB5F4918CC9E63EE6A00D1DA49C59D3" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\MS-ADOD_ODRequirementSpec.xml" />
            </Component>
            <Component Id="cmp6713A95D6CCDE190B2BD744545227DD1" Guid="{54A2CCEF-6D62-40C7-8B0E-42EABACF1B74}">
                <File Id="fil700454F2ACD3CA85DF24B3B9CFDC7D87" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\New-IADComputer.ps1" />
            </Component>
            <Component Id="cmp15AB8A5C75DDCBEB251081E327E79773" Guid="{F6D8BB16-9B2E-48D3-887A-4330CAA1497B}">
                <File Id="filBD48FC46E4366629C1EDE9CD396A5484" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\New-IADGroup.ps1" />
            </Component>
            <Component Id="cmp26022BBC18C81C847F8E3A7667E6326A" Guid="{6207A86F-4A1E-4BE4-AAE3-E4064ACC9DF9}">
                <File Id="filD3D1E81C63A9944773BC998F3FA05AFE" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\New-IADUser.ps1" />
            </Component>
            <Component Id="cmp1267A8C13DBBBDDF9B73E3BD5BE47CC3" Guid="{78BE24B5-DEDA-44A7-BC42-BD92BF903FF7}">
                <File Id="filBE6E0C3B91F766E3204B29BF75860F02" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\New-RemoteSession.ps1" />
            </Component>
            <Component Id="cmpBE54976D0AB10263BC1B59EC92707B7D" Guid="{BF03E3A7-00E3-405B-8AE8-A9408EA2EA33}">
                <File Id="fil37D2351C7786523EB0BD004C567D2575" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\ParamConfig.xml" />
            </Component>
            <Component Id="cmp456B6DF63866A943F4397E06022EFDFA" Guid="{E39D5D14-D151-48B3-B316-B1632F745D43}">
                <File Id="fil378BDE5CF06151DDA1E5FB9AFB1A22D9" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Remove-IADGroupMember.ps1" />
            </Component>
            <Component Id="cmpD540D2A1A5F1779FBA707ED32CC0491A" Guid="{97D2DCB0-C449-439A-9473-9243B51D932E}">
                <File Id="fil30C4C01D8552742F4CC00473EB1FFA56" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Remove-IADObject.ps1" />
            </Component>
            <Component Id="cmp61BD90927FC0827D572076E1F4C1AEC0" Guid="{B3B4459B-338D-4E75-831E-2A1D42C73B8D}">
                <File Id="filDE75FA6185BCC2F04C65A681727B2873" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Set-IADUser.ps1" />
            </Component>
            <Component Id="cmp4B6C97A580F7A1B81B42B0CEF0E1CA81" Guid="{30648BD9-8277-4507-9EF1-772EE339DD73}">
                <File Id="fil3C95F41B7FA45C933F21ADFA2DFE1EDC" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Set-Parameter.ps1" />
            </Component>
            <Component Id="cmp7CB8BD84042AB50AC696D42EF1384437" Guid="{BF85D086-8A82-4FD6-A77D-6034E5BBD141}">
                <File Id="fil656A6FF64E1588A662C1130E4A254CD9" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\TurnOff-FileReadonly.ps1" />
            </Component>
            <Component Id="cmp1E89042613646D4107BAA403D0536504" Guid="{17C89B97-FA77-4E21-96DD-BDD38CBBE30D}">
                <File Id="fil135239CD4AA392DEFD9FFCD56D6C0047" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Unjoin-Domain.ps1" />
            </Component>
            <Component Id="cmpE1913019689353C560098DA13C6C87F6" Guid="{2D1C9761-F4A5-46DE-AD80-1FAAD7D94146}">
                <File Id="filC90861B8D886D5522444230DFB71A409" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\UnjoinDomain.sh" />
            </Component>
            <Component Id="cmp8CE50199468B230FAB1F1A20C8109F76" Guid="{F97C9A5C-D68B-4409-8DC1-68C72B666332}">
                <File Id="filF7A89888C104F643085E6863584A1451" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\WaitFor-ComputerReady.ps1" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Scripts_FILES">
            <ComponentRef Id="cmp8888FE0FFF63AC9B4DFE674712DB511F" />
            <ComponentRef Id="cmpDA9D588D7D8F8FAE6A1E1C029AB702C9" />
            <ComponentRef Id="cmp349DB4D40B3A7295D8E98C9BDA8C31D5" />
            <ComponentRef Id="cmp0604573316D0E8F51BD6B13DC675095F" />
            <ComponentRef Id="cmpD9365DD625B04FE4339E6B9088B0E455" />
            <ComponentRef Id="cmpABD95FA2C4CED369A395AA50DA4DBE10" />
            <ComponentRef Id="cmpBADC0222D547C9B44CBA81FF1A0A55AF" />
            <ComponentRef Id="cmpD27B80DF3B9177DBE28140E457B32383" />
            <ComponentRef Id="cmp40B0B83B655D155F55B469A2A1F70519" />
            <ComponentRef Id="cmpEEE0453F8846A1A2DA3F71BD08F6C75C" />
            <ComponentRef Id="cmpB0ED4429C1B92DDA63BCFDB362A90CDD" />
            <ComponentRef Id="cmp180C32E86BAAF4F17566C0BDBE2816E5" />
            <ComponentRef Id="cmp914FF26C1EB06DA3EBA47438E453CFEE" />
            <ComponentRef Id="cmp0D0A2C373F7F9C94DB10420E39FE2667" />
            <ComponentRef Id="cmpE312B5E02B8B6926D627216A4320A0FC" />
            <ComponentRef Id="cmp8B0241E84F4B427A30FC4114FB47CDD1" />
            <ComponentRef Id="cmp1BECC399A466BDC7E600FA1257E757FD" />
            <ComponentRef Id="cmpF48C1A7CB1AC0CC75E75A761AA5C54FC" />
            <ComponentRef Id="cmp9BE6D28D3BA438EFCA32FDC33F1918A3" />
            <ComponentRef Id="cmpF1BD72975819FD27152248DE1F9E9EFD" />
            <ComponentRef Id="cmp1E2318CC7679C1133EF27499E2F8970D" />
            <ComponentRef Id="cmp592A93EA0969234A9DEE5BA5F13A89BD" />
            <ComponentRef Id="cmpD4E474312CF09863E0C399C11F4A7BF1" />
            <ComponentRef Id="cmp5BCE15890AC54432CA6426BC4E558D69" />
            <ComponentRef Id="cmp80A51F220A5DA0D33EB6EB97C4EE535B" />
            <ComponentRef Id="cmp6713A95D6CCDE190B2BD744545227DD1" />
            <ComponentRef Id="cmp15AB8A5C75DDCBEB251081E327E79773" />
            <ComponentRef Id="cmp26022BBC18C81C847F8E3A7667E6326A" />
            <ComponentRef Id="cmp1267A8C13DBBBDDF9B73E3BD5BE47CC3" />
            <ComponentRef Id="cmpBE54976D0AB10263BC1B59EC92707B7D" />
            <ComponentRef Id="cmp456B6DF63866A943F4397E06022EFDFA" />
            <ComponentRef Id="cmpD540D2A1A5F1779FBA707ED32CC0491A" />
            <ComponentRef Id="cmp61BD90927FC0827D572076E1F4C1AEC0" />
            <ComponentRef Id="cmp4B6C97A580F7A1B81B42B0CEF0E1CA81" />
            <ComponentRef Id="cmp7CB8BD84042AB50AC696D42EF1384437" />
            <ComponentRef Id="cmp1E89042613646D4107BAA403D0536504" />
            <ComponentRef Id="cmpE1913019689353C560098DA13C6C87F6" />
            <ComponentRef Id="cmp8CE50199468B230FAB1F1A20C8109F76" />
        </ComponentGroup>
    </Fragment>
</Wix>