<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TESTSUITE_BIN_DIR">
            <Component Id="cmpC4F1987C5DF4136E511A2E7F964F6499" Guid="{B2E6AFEC-13BB-4A91-9D44-205831BF72E1}">
                <File Id="filCDC45D457FC390630E5B97A3685CBDFC" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\ChangeUserAcctPasswordLDAP-ExpectedFrames-MA.xml" />
            </Component>
            <Component Id="cmp7482DD82AA6349862D2579247E4892DA" Guid="{DA346B42-46E5-4E47-B78B-0C35E91FD58F}">
                <File Id="fil5ECD7DB5F85326E2D34595418FF961BD" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\ChangeUserAcctPasswordLDAP.ps1" />
            </Component>
            <Component Id="cmpE15475D5431FE0D250EE94BFA5EFB8B5" Guid="{680FCE03-5CF6-4643-9BA3-DEAE63511020}">
                <File Id="fil4C53EB768B14680A001767C1FE811256" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\ChangeUserAcctPasswordSAMR-ExpectedFrames-MA.xml" />
            </Component>
            <Component Id="cmpCAE5E9A38ED84A63A9B686A3C9450963" Guid="{CC39C43C-993E-4272-93A4-9C0429711257}">
                <File Id="fil42E4F2985B50BAFC13A22B9191098FFF" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\ChangeUserAcctPasswordSAMR.ps1" />
            </Component>
            <Component Id="cmp7DCD518869340D684A640FC2F026F80E" Guid="{ACC78155-A219-414A-A5F6-8E99E013C2CD}">
                <File Id="fil29E331B48B6E0C27676F6C38216A234E" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\DeleteGroup-ExpectedFrames-MA.xml" />
            </Component>
            <Component Id="cmp88A7074DCFB8B6D0251BF118590EF7DF" Guid="{37F606C8-9298-4186-9559-A5CE4F9873BC}">
                <File Id="fil15DAB9E0B4CB3B84369C13244E6BE03E" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\DeleteGroup.ps1" />
            </Component>
            <Component Id="cmp2EA6F73EE69E2834BFA793918641FE72" Guid="{60BFCBF8-2F50-483F-9316-B305B2FC2EC9}">
                <File Id="filF0E672AB3EE5C4D8D927E761BD7A8BF5" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\DeleteUserAcct-ExpectedFrames-MA.xml" />
            </Component>
            <Component Id="cmp8F5F6F18ED5117B76D701C7C9886F3F2" Guid="{E183139C-8B32-4E37-A244-2D53D3EA7824}">
                <File Id="fil9D33DC4873FC22CF9F99773AE02882BC" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\DeleteUserAcct.ps1" />
            </Component>
            <Component Id="cmpCD34648996C239B005E15CD8431C4CBB" Guid="{D9A70B9C-CFED-4BC7-852B-B1B884F65274}">
                <File Id="filA7F9D75CA56F80EA8E9F38C9C59FB6FF" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\DetermineUserAcctMembershipLDAP-ExpectedFrames-MA.xml" />
            </Component>
            <Component Id="cmp2609E7E4C443BA91F085C1AA3940276D" Guid="{3D121B74-C771-4BDC-977D-9D780E709396}">
                <File Id="fil0365FEFD4F42196AA82FF057E96FAE69" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\DetermineUserAcctMembershipLDAP.ps1" />
            </Component>
            <Component Id="cmpC8E2354D136E62FE3544BFD93450712E" Guid="{171DC1C8-AA5A-4A77-8657-95815970A46A}">
                <File Id="filB7C88F75331D983B3AFE429C121AD861" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\DetermineUserAcctMembershipSAMR-ExpectedFrames-MA.xml" />
            </Component>
            <Component Id="cmpC88D1DAE58E8E95AD9786828AFF29BCE" Guid="{456F1882-55C9-4BC3-8384-4FBF14EC92AA}">
                <File Id="fil8250916C5B73B2530B0717AEE5B8527E" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\DetermineUserAcctMembershipSAMR.ps1" />
            </Component>
            <Component Id="cmp24D5C84E2FE69D8BC83D1E6F01E656FF" Guid="{CC39EE3D-49FB-4796-A9CF-3A8A560196BB}">
                <File Id="filD92D28C49603373D78C221018944C661" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\IsJoinDomainSuccess.ps1" />
            </Component>
            <Component Id="cmp916E15125F49FD57D86F0583829F28EE" Guid="{92DB8394-A94D-442B-9D7B-30FCC25E4D51}">
                <File Id="fil6590048A4A800D0DCC2D8D82AFBBE5A2" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\IsUnjoinDomainSuccess.ps1" />
            </Component>
            <Component Id="cmp7423588ECE81F3FA9D2DAAF6D67C56B7" Guid="{82AFD1B9-5991-461B-A875-275506EDEA1A}">
                <File Id="fil5AD8CE4084998B34129F5E35D8AB4313" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\JoinDomainCreateAcctLDAP-ExpectedFrames-MA.xml" />
            </Component>
            <Component Id="cmp681F963C4B5FA3D7910531DEDAD5E891" Guid="{5BF0CDC4-B473-4266-B118-816D0361D2B8}">
                <File Id="fil11966812319FBDD8476B0723D8B69FD8" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\JoinDomainCreateAcctLDAP.ps1" />
            </Component>
            <Component Id="cmp010CA49877E83B0A6EC6882BFBAEF1DC" Guid="{561A7241-F4C3-489D-AD55-F7C7E2F7095C}">
                <File Id="fil156F5A02E49A4910D750C34F79D50192" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\JoinDomainCreateAcctSAMR-ExpectedFrames-MA.xml" />
            </Component>
            <Component Id="cmp6421BC4589990898FD83A62B9A591B31" Guid="{2BA6B7EF-1EEA-434C-91F6-6AC7D15C0CC8}">
                <File Id="filDBB168F3B8FC117B0A9B23FAF9D41A20" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\JoinDomainCreateAcctSAMR.ps1" />
            </Component>
            <Component Id="cmp82CEFBCF22BB06BEC04AC165C79989DA" Guid="{FE224795-A2E8-4210-9654-43C467E241CF}">
                <File Id="fil284E10DAFA60C156495B5F5C6BD7F754" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\JoinDomainPredefAcct-ExpectedFrames-MA.xml" />
            </Component>
            <Component Id="cmpA30D5F5FEB058669319456D090DE8F71" Guid="{4BAC67E4-9AA7-4A96-B201-2FDDDA04744F}">
                <File Id="filE566395527B19E935C851E5F9D7F168C" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\JoinDomainPredefAcct.ps1" />
            </Component>
            <Component Id="cmpB7EF816A406E31702F3E5F2250F5D787" Guid="{EF9F9385-B263-4437-A364-3D6AE0E39659}">
                <File Id="fil4F01BFA7B63D37125B563E7B196A50BE" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\LocateDomainController.ps1" />
            </Component>
            <Component Id="cmp3DF15057659D7FF6DBA45F238940B76C" Guid="{4AA7F580-3370-40F5-B1E1-A2137E8B57D2}">
                <File Id="fil300341FE0B97E13B5C0D706420A9E5B9" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\LocateDomainControllerDNS-ExpectedFrames-MA.xml" />
            </Component>
            <Component Id="cmp518E646A77DD291277E3B2D9BB16923F" Guid="{918B0B06-CE7D-4AA1-AC8E-863F29775C9E}">
                <File Id="fil7F73A9AF126E7CABB2A7BD57CBFBFEA5" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\LocateDomainControllerNetbios-ExpectedFrames-MA.xml" />
            </Component>
            <Component Id="cmpD3A4E73E6D514B2B734E982249EA1FD1" Guid="{FB61E785-FFE0-4D86-8A32-EB097ED663C5}">
                <File Id="fil7373CDEA55915238853FC70C1A332F18" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\ManageGroupsandTheirMemberships-ExpectedFrames-MA.xml" />
            </Component>
            <Component Id="cmpB77B3A3EA70CED81CD2391C916F4B884" Guid="{1F1EB96A-FE8F-4C21-BEE5-79834D0472FE}">
                <File Id="fil8718D0E003020B1CF9AEBFC796A5601A" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\ManageGroupsandTheirMemberships.ps1" />
            </Component>
            <Component Id="cmp36CD3178FE4034DC4613B79871F0674A" Guid="{78076DEE-7BD1-42A5-ABCB-A50ABB903CED}">
                <File Id="filC6AF1463238686643F2C2A306C66F5C4" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\Microsoft.Protocols.TestTools.MessageAnalyzer.dll" />
            </Component>
            <Component Id="cmp3FC8FB33ADA153BDE651F07DAC6C794F" Guid="{94C44DE7-1D85-4660-A405-A13C0D9B899F}">
                <File Id="fil1A079CA59300AEB2B5A3A33CEEA4D366" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\Microsoft.Protocols.TestTools.MessageAnalyzer.pdb" />
            </Component>
            <Component Id="cmpF3E187679607C1795EEFC347BF180AA4" Guid="{383A7FEB-6BD9-4CBE-8411-5D367E72E5EE}">
                <File Id="filB88A8DA3BB2B9B904BF38622A842731A" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\MS-ADOD_ODAdapter.dll" />
            </Component>
            <Component Id="cmp43C5B46F7E219B52609B098A63DBA037" Guid="{1645E680-F9A6-431C-80FB-21D1033E5BAD}">
                <File Id="fil7CBE50CE76D6CEEE220E63F6828D9422" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\MS-ADOD_ODAdapter.pdb" />
            </Component>
            <Component Id="cmpE49EDDC667443F2E2048AABE4B77BD10" Guid="{5068AC6B-24D3-4705-94A9-AEFF8AF5841E}">
                <File Id="fil03B42FFF2A9F72C2A1D60CAE8168B6A4" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\MS-ADOD_ODTestSuite.deployment.ptfconfig" />
            </Component>
            <Component Id="cmp122D85A218D9BE74CD83C540FEEB3851" Guid="{69F3C293-1E81-4204-8432-03FF5565266B}">
                <File Id="filE7BA3E3AB811C4B43F6F02B437FD56B3" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\MS-ADOD_ODTestSuite.dll" />
            </Component>
            <Component Id="cmp71641493983385E92D5E8E5664849C29" Guid="{89FD2E87-926F-47F2-8B1E-5D728E1B0E1C}">
                <File Id="filAF0E4D1EFA8B5B1736A94400F5C1668D" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\MS-ADOD_ODTestSuite.pdb" />
            </Component>
            <Component Id="cmp2736318CF41F477EC9865E32A1305019" Guid="{94FDE0FA-8DA2-4CD5-B0D4-866D26CB4D90}">
                <File Id="fil145019E3F5519110541213F03B75D97C" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\MS-ADOD_ODTestSuite.ptfconfig" />
            </Component>
            <Component Id="cmp6B3413C121E58E0DA975DCFBFDD7918C" Guid="{6450EEC1-C5CB-4B12-BECE-001600A574E2}">
                <File Id="fil7D728D1CC3BACCC174B25632B929EA8A" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\ObtainUserAcctListLDAP-ExpectedFrames-MA.xml" />
            </Component>
            <Component Id="cmp5B567907789C9DFFC4F9FF7AA9BCCF6B" Guid="{15E51E9C-6470-441E-BDE0-07E04A3BD855}">
                <File Id="filC293F52454B3A69746D1AFBA2202458E" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\ObtainUserAcctListLDAP.ps1" />
            </Component>
            <Component Id="cmp5C6783CCAA0E8D81C7123A765DBBA7B9" Guid="{E9CF7207-2BE2-4911-9E1B-83DB0946DFED}">
                <File Id="fil68425E467CF3FA3F40B0AE0CA619EDCF" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\ODLocalTestRun.testrunconfig" />
            </Component>
            <Component Id="cmp83C1ECEFD0279D6460804F90A2825DE7" Guid="{159FF379-F05D-47CB-A2F5-2437380A37E6}">
                <File Id="filDDD2247C83E0FFF063D2B4E972AAE658" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\ProvisionUserAcctLDAP-ExpectedFrames-MA.xml" />
            </Component>
            <Component Id="cmp14AFF85BDB656220D9CAAD819F4DA3F0" Guid="{28E7DCD4-2D09-4007-8568-C2BA805683DE}">
                <File Id="fil2A5DFB208DE1D60564E4CC04A2BCDB38" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\ProvisionUserAcctLDAP.ps1" />
            </Component>
            <Component Id="cmp5D446270F5DF551A771883063AADB4EC" Guid="{48B0922E-BFB5-47B8-85C1-0AC812657555}">
                <File Id="filD8F93A2FD63C4EFA10E985D437063390" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\ProvisionUserAcctSAMR-ExpectedFrames-MA.xml" />
            </Component>
            <Component Id="cmpEE3A5E4ED5DB6907560C47953D11805B" Guid="{94E4D765-5613-4B24-A8F4-4DBBB5A588DA}">
                <File Id="filB671A6D88EB8CFE8765FF9ED2FBB6D19" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\ProvisionUserAcctSAMR.ps1" />
            </Component>
            <Component Id="cmp8C1D184C9DE6D3BDE7F825F6AB44D7E5" Guid="{C0A397A3-76E6-46A5-99EE-6D372D7619BF}">
                <File Id="fil707724C8044F9188C9037C49A7155288" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\SetupRemoteSession.ps1" />
            </Component>
            <Component Id="cmpA02EAF722ABCE7D2B9B226D56BF04FFC" Guid="{44D71F16-4416-4F87-A0E0-2BCE739BA783}">
                <File Id="fil63316999E5DAAB8CA36030F4CB486C1C" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\UnjoinDomain-ExpectedFrames-MA.xml" />
            </Component>
            <Component Id="cmp6872027E33835C159B3274A6BA0E3CEE" Guid="{860F3C12-8EE4-4F62-BE5E-E76BEF3A2C27}">
                <File Id="fil648D5841B6714F35333446ED3EFB39AB" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\UnjoinDomain.ps1" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="BIN_FILES">
            <ComponentRef Id="cmpC4F1987C5DF4136E511A2E7F964F6499" />
            <ComponentRef Id="cmp7482DD82AA6349862D2579247E4892DA" />
            <ComponentRef Id="cmpE15475D5431FE0D250EE94BFA5EFB8B5" />
            <ComponentRef Id="cmpCAE5E9A38ED84A63A9B686A3C9450963" />
            <ComponentRef Id="cmp7DCD518869340D684A640FC2F026F80E" />
            <ComponentRef Id="cmp88A7074DCFB8B6D0251BF118590EF7DF" />
            <ComponentRef Id="cmp2EA6F73EE69E2834BFA793918641FE72" />
            <ComponentRef Id="cmp8F5F6F18ED5117B76D701C7C9886F3F2" />
            <ComponentRef Id="cmpCD34648996C239B005E15CD8431C4CBB" />
            <ComponentRef Id="cmp2609E7E4C443BA91F085C1AA3940276D" />
            <ComponentRef Id="cmpC8E2354D136E62FE3544BFD93450712E" />
            <ComponentRef Id="cmpC88D1DAE58E8E95AD9786828AFF29BCE" />
            <ComponentRef Id="cmp24D5C84E2FE69D8BC83D1E6F01E656FF" />
            <ComponentRef Id="cmp916E15125F49FD57D86F0583829F28EE" />
            <ComponentRef Id="cmp7423588ECE81F3FA9D2DAAF6D67C56B7" />
            <ComponentRef Id="cmp681F963C4B5FA3D7910531DEDAD5E891" />
            <ComponentRef Id="cmp010CA49877E83B0A6EC6882BFBAEF1DC" />
            <ComponentRef Id="cmp6421BC4589990898FD83A62B9A591B31" />
            <ComponentRef Id="cmp82CEFBCF22BB06BEC04AC165C79989DA" />
            <ComponentRef Id="cmpA30D5F5FEB058669319456D090DE8F71" />
            <ComponentRef Id="cmpB7EF816A406E31702F3E5F2250F5D787" />
            <ComponentRef Id="cmp3DF15057659D7FF6DBA45F238940B76C" />
            <ComponentRef Id="cmp518E646A77DD291277E3B2D9BB16923F" />
            <ComponentRef Id="cmpD3A4E73E6D514B2B734E982249EA1FD1" />
            <ComponentRef Id="cmpB77B3A3EA70CED81CD2391C916F4B884" />
            <ComponentRef Id="cmp36CD3178FE4034DC4613B79871F0674A" />
            <ComponentRef Id="cmp3FC8FB33ADA153BDE651F07DAC6C794F" />
            <ComponentRef Id="cmpF3E187679607C1795EEFC347BF180AA4" />
            <ComponentRef Id="cmp43C5B46F7E219B52609B098A63DBA037" />
            <ComponentRef Id="cmpE49EDDC667443F2E2048AABE4B77BD10" />
            <ComponentRef Id="cmp122D85A218D9BE74CD83C540FEEB3851" />
            <ComponentRef Id="cmp71641493983385E92D5E8E5664849C29" />
            <ComponentRef Id="cmp2736318CF41F477EC9865E32A1305019" />
            <ComponentRef Id="cmp6B3413C121E58E0DA975DCFBFDD7918C" />
            <ComponentRef Id="cmp5B567907789C9DFFC4F9FF7AA9BCCF6B" />
            <ComponentRef Id="cmp5C6783CCAA0E8D81C7123A765DBBA7B9" />
            <ComponentRef Id="cmp83C1ECEFD0279D6460804F90A2825DE7" />
            <ComponentRef Id="cmp14AFF85BDB656220D9CAAD819F4DA3F0" />
            <ComponentRef Id="cmp5D446270F5DF551A771883063AADB4EC" />
            <ComponentRef Id="cmpEE3A5E4ED5DB6907560C47953D11805B" />
            <ComponentRef Id="cmp8C1D184C9DE6D3BDE7F825F6AB44D7E5" />
            <ComponentRef Id="cmpA02EAF722ABCE7D2B9B226D56BF04FFC" />
            <ComponentRef Id="cmp6872027E33835C159B3274A6BA0E3CEE" />
        </ComponentGroup>
    </Fragment>
</Wix>