<?xml version="1.0" encoding="UTF-8"?>

<!-- TODO: Update test suite name and endpoint -->
<?define TESTSUITE_NAME=FileServer?>
<?define TESTSUITE_ENDPOINT=Server?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  
  <Product Id="*" 
           Name="Microsoft $(var.TESTSUITE_NAME) $(var.TESTSUITE_ENDPOINT) Endpoint Test Suite" 
           Language="1033" 
           Version="$(env.TESTSUITE_VERSION)" 
           Manufacturer="Microsoft Corporation" 
           UpgradeCode="{56D3AD37-DED4-458D-8428-3CBFF4EA1A9C}">
    
    <Package Id="*" 
             InstallScope="perMachine"
             InstallPrivileges="elevated"
             Description="Microsoft $(var.TESTSUITE_NAME) $(var.TESTSUITE_ENDPOINT) Endpoint Test Suite v$(env.TESTSUITE_VERSION)"
             Manufacturer="Microsoft Corporation"
             InstallerVersion="300"
             Compressed="yes" />
    
    <Media Id="1" Cabinet="TestSuite_AllInOne.cab" EmbedCab="yes" />
    <Feature Id="TestSuiteFeatures" Level="1" ConfigurableDirectory="TESTSUITE_ROOT_DIR" />
    <MajorUpgrade DowngradeErrorMessage ="A later version of [ProductName] is already installed. Setup will now exit." />

    <WixVariable Id="TESTSUITE_NAME" Value="$(var.TESTSUITE_NAME)" Overridable="no" />
    <WixVariable Id="TESTSUITE_ENDPOINT" Value="$(var.TESTSUITE_ENDPOINT)" Overridable="no" />
    <WixVariable Id="TESTSUITE_VERSION" Value="$(env.TESTSUITE_VERSION)" Overridable="no" />

    <WixVariable Id="TESTSUITE_BIN_DIR" Value="$(env.TestSuiteRoot)\drop\TestSuites\FileServer\Bin" />
    <WixVariable Id="TESTSUITE_BATCH_DIR" Value="..\Batch" />
    <WixVariable Id="PROTOSDK_DROP_DIR" Value="$(env.TestSuiteRoot)\drop\ProtoSDK\Bin" />
    <WixVariable Id="TESTSUITE_COMMON_SCRIPTS_DIR" Value="$(env.TestSuiteRoot)\common" />
    <WixVariable Id="TESTSUITE_SCRIPTS_DIR" Value="$(env.TestSuiteRoot)\drop\TestSuites\FileServer\Scripts" />

    <WixVariable Id="DOMAIN_RUN_ALLTCS_COMMAND" Value="Domain_RunAllTestCases.cmd" />
    <WixVariable Id="DOMAIN_RUN_BVT_COMMAND" Value="Domain_RunBVTTestCases.cmd" />
    <WixVariable Id="WORKGROUP_RUN_ALLTCS_COMMAND" Value="Workgroup_RunAllTestCases.cmd" />
    <WixVariable Id="WORKGROUP_RUN_BVT_COMMAND" Value="Workgroup_RunBVTTestCases.cmd" />
    <WixVariable Id="RUN_TCS_BY_CATEGORY_COMMAND" Value="RunTestCasesByCategory.cmd" />

    <WixVariable Id="SET_VS_TEST_PATH" Value="setVsTestPath.cmd" />
    <WixVariable Id="SET_VS_PATH"      Value="setVsPath.cmd" />
    
    <DirectoryRef Id="TESTSUITE_ROOT_DIR">
      <Component Id="LICENSE.rtf" Guid="{3CC4885E-A281-42BF-B71C-5BB316458549}">
        <File Id="LICENSE.rtf" Source="LICENSE.rtf" />
      </Component>
    </DirectoryRef>

  </Product>
</Wix>
