<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TESTSUITE_SCRIPTS_DIR">
            <Component Id="cmpE28CC18BF553A7E60306F1DEB00C83FC" Guid="{BB6F9651-D1F4-45FB-8821-C295CCC6DE36}">
                <File Id="fil5B876C713EDED65ABFD01ED2C692DA14" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Check-ClusterNodeStatus.ps1" />
            </Component>
            <Component Id="cmpF71320480BA451BE768B7E4FCB54A536" Guid="{C9C8384C-DCA0-4832-9616-6DF3F1C1B66A}">
                <File Id="fil66E0F34E7D3AA566A416FFBA644F29DE" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Check-DCStatus.ps1" />
            </Component>
            <Component Id="cmp1A6F5807A9AA447514C278F5A7C19E7B" Guid="{CAD0BA1A-C903-4335-B867-81091AC6AC9D}">
                <File Id="fil0808F03568A5F826F34BC6F40C5E43A9" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Check-StorageStatus.ps1" />
            </Component>
            <Component Id="cmpF5D6B4A16D5DBA2AB163CB46E2EFF4D8" Guid="{5BBABC46-6647-4D8F-972D-CF73FBC22E38}">
                <File Id="filEBC6C51CE04C072BC098A5D1A54EE078" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Config-AsymmetryMode.ps1" />
            </Component>
            <Component Id="cmp8DA87D3FF36930535264E76EF6F730AF" Guid="{A5D335DA-76F4-44E1-BB57-29ABC95BF561}">
                <File Id="fil163EB11E2AEB25F713817EF44B1480CF" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Config-ClusterNode2.ps1" />
            </Component>
            <Component Id="cmp059CFAC1A1486ACAEA4A374D0CDBEA3E" Guid="{8436047E-F951-4FCB-809A-64519BEFCCE5}">
                <File Id="fil3E5F70EAC6A17CD6C1C20FE1AF2D08DB" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Config-ForceLevel2.ps1" />
            </Component>
            <Component Id="cmp6DEF2B6101032ADE7D19BA04D3FA11BC" Guid="{F2445634-DABC-4784-AC1F-A238A3AEC316}">
                <File Id="filDEDB543A1FE32BC8E20949782E848D39" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Config-GroupPolicyForClaims.ps1" />
            </Component>
            <Component Id="cmp23C24100F769225DD42D70B723B6BD50" Guid="{0285CA04-CA35-4306-8538-0A199F64D894}">
                <File Id="fil277B569EF22C4462484E701D80B5D288" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Connect-IscsiTarget.ps1" />
            </Component>
            <Component Id="cmpE75D917C197742D1F5D85A006ADCFD81" Guid="{47E527A6-2684-4013-8217-2465C67AADBC}">
                <File Id="fil4C8AE5090AC696FF9CE2FD129B4B34DF" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Copy-Vhdx.ps1" />
            </Component>
            <Component Id="cmp59EF75C306BC01F8A26DF906DDAD9823" Guid="{39BD540B-CA0C-4637-91DB-15068D2D7D29}">
                <File Id="filCE0449C5674C3843DC42E5703EAFE284" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Create-AuthEnv.ps1" />
            </Component>
            <Component Id="cmp3CFB0F940CFDBADD673E64425D5A7740" Guid="{864267A5-89F2-4423-9CB3-ACAF7C14987B}">
                <File Id="filCBC519F34FDC734A1942452550DCB642" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Create-CbacObjectsInDC.ps1" />
            </Component>
            <Component Id="cmp34274542FCA70DC528A0C5BF7D08A9AB" Guid="{EC5A6BFF-7E6A-4ABD-B20D-D6781159383C}">
                <File Id="fil6F412D050C36347F88469709D1D4FBB0" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Create-DFSCEnv.ps1" />
            </Component>
            <Component Id="cmp67F58E64A197D304C8C73C661A812B7D" Guid="{9DB85B3E-1CCE-4862-B976-D737316A1D1D}">
                <File Id="filE8719AAD7C5C246456BBB461E3A7F626" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Create-FSAEnv.ps1" />
            </Component>
            <Component Id="cmp737F344C650073A9A9C899CF413BB2D1" Guid="{D07C214D-340B-41CE-BB08-6E8AB141F550}">
                <File Id="filB5F86E65E0C89B0AA8BE7E2072B61E6E" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Create-IscsiTarget.ps1" />
            </Component>
            <Component Id="cmpC2CAD186C08FDD2F890E62AE20E5C8F9" Guid="{5603B6DA-35A3-417E-90AB-4982FF6598F7}">
                <File Id="fil1C52637BBFE0EBB50B8459BF6C6202A9" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Create-ServerFailoverEnv.ps1" />
            </Component>
            <Component Id="cmp9F4726BFD27A404F587D785BFEAF3E8A" Guid="{2182D761-6781-4FE3-87D9-50D59C7E18A2}">
                <File Id="fil68E594A4C97CD77F831907B93F6F3A45" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Create-SMB2Env.ps1" />
            </Component>
            <Component Id="cmpA956E906123D6BC83F7066B96808CA22" Guid="{03699594-AC44-4CA0-B6C2-4AE29B43D39B}">
                <File Id="filE7653557B14A4A6D75F9060491F7C664" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Create-SMBShare.ps1" />
            </Component>
            <Component Id="cmpACF8363E7D965111F3CC13BF063F2937" Guid="{118B9F5A-49FE-4497-8592-082A8D0039F5}">
                <File Id="fil5CC09FB19A8A6D49086C3B6DE9B615AD" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Create-TestAccount.ps1" />
            </Component>
            <Component Id="cmp21759CB7093AD874DE05755A15F01655" Guid="{D1393B74-34FD-401A-8068-C4D271936A66}">
                <File Id="fil260CD61C0F7ADD8781B18E03969E153D" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Get-OSVersionNumber.ps1" />
            </Component>
            <Component Id="cmp91C7B51C959B837C6F732D636D53F4A8" Guid="{A6B6FB93-0363-424E-BAD3-6D06FAB3374C}">
                <File Id="fil7FF1E141D40FF1B48987BE9E36508E7F" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\GPOBackup.zip" />
            </Component>
            <Component Id="cmpFB367F0F6B6E6FEF3CD308E1B8D7ED3F" Guid="{7092268C-793D-4EFD-80B5-A1E29B22CFEA}">
                <File Id="fil8E3DE2A5A16B8C3E8107E2A6ED69C2A3" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Import-GPOForClaims.ps1" />
            </Component>
            <Component Id="cmp1344E98C0C253A07E1669AD57FA90224" Guid="{2272183B-C91F-41DB-B0F4-74CFCB50A339}">
                <File Id="fil4AAE31A6456EE46F4F8179F1E55C25A5" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Install-WindowsFeature.ps1" />
            </Component>
            <Component Id="cmpF016E469E44910BA41827901C5B7B6EA" Guid="{E7427671-747A-4A20-AFBA-825312C7C216}">
                <File Id="filD998F03DA6367CF901063AA085B96246" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Protocol.xml" />
            </Component>
            <Component Id="cmp6E2E6BFD22E35403EDD64558BD849EDD" Guid="{6427040F-3253-46B1-A4EF-A5BA4DF04BD9}">
                <File Id="fil3C93F68099DBBD777CED176C55098C5F" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Set-ComputerPassword.ps1" />
            </Component>
            <Component Id="cmpB7B6F6903B667D59C866A35911E75C4F" Guid="{F7F1A2C4-E966-4220-88D9-6B7D61709E9A}">
                <File Id="fil3A99B80AD7679D7529881557C8CC73B1" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Set-RequireSigning.ps1" />
            </Component>
            <Component Id="cmp3C1A3F27199D23AB34E22898FA692ECF" Guid="{15A7D660-911D-4734-A51C-217F46AE7F8A}">
                <File Id="fil43F51CEF3F80A49F06F398574059C7D2" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Write-Error.ps1" />
            </Component>
            <Component Id="cmp356542459EB19A4D2215B5CF1C6DB3C2" Guid="{6CF43F4A-B820-42DD-B789-C20D4455F553}">
                <File Id="fil233C87A38852ABA27A0CD2D15DFA21B1" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Write-Info.ps1" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="TESTSUITE_SCRIPTS_FILES">
            <ComponentRef Id="cmpE28CC18BF553A7E60306F1DEB00C83FC" />
            <ComponentRef Id="cmpF71320480BA451BE768B7E4FCB54A536" />
            <ComponentRef Id="cmp1A6F5807A9AA447514C278F5A7C19E7B" />
            <ComponentRef Id="cmpF5D6B4A16D5DBA2AB163CB46E2EFF4D8" />
            <ComponentRef Id="cmp8DA87D3FF36930535264E76EF6F730AF" />
            <ComponentRef Id="cmp059CFAC1A1486ACAEA4A374D0CDBEA3E" />
            <ComponentRef Id="cmp6DEF2B6101032ADE7D19BA04D3FA11BC" />
            <ComponentRef Id="cmp23C24100F769225DD42D70B723B6BD50" />
            <ComponentRef Id="cmpE75D917C197742D1F5D85A006ADCFD81" />
            <ComponentRef Id="cmp59EF75C306BC01F8A26DF906DDAD9823" />
            <ComponentRef Id="cmp3CFB0F940CFDBADD673E64425D5A7740" />
            <ComponentRef Id="cmp34274542FCA70DC528A0C5BF7D08A9AB" />
            <ComponentRef Id="cmp67F58E64A197D304C8C73C661A812B7D" />
            <ComponentRef Id="cmp737F344C650073A9A9C899CF413BB2D1" />
            <ComponentRef Id="cmpC2CAD186C08FDD2F890E62AE20E5C8F9" />
            <ComponentRef Id="cmp9F4726BFD27A404F587D785BFEAF3E8A" />
            <ComponentRef Id="cmpA956E906123D6BC83F7066B96808CA22" />
            <ComponentRef Id="cmpACF8363E7D965111F3CC13BF063F2937" />
            <ComponentRef Id="cmp21759CB7093AD874DE05755A15F01655" />
            <ComponentRef Id="cmp91C7B51C959B837C6F732D636D53F4A8" />
            <ComponentRef Id="cmpFB367F0F6B6E6FEF3CD308E1B8D7ED3F" />
            <ComponentRef Id="cmp1344E98C0C253A07E1669AD57FA90224" />
            <ComponentRef Id="cmpF016E469E44910BA41827901C5B7B6EA" />
            <ComponentRef Id="cmp6E2E6BFD22E35403EDD64558BD849EDD" />
            <ComponentRef Id="cmpB7B6F6903B667D59C866A35911E75C4F" />
            <ComponentRef Id="cmp3C1A3F27199D23AB34E22898FA692ECF" />
            <ComponentRef Id="cmp356542459EB19A4D2215B5CF1C6DB3C2" />
        </ComponentGroup>
    </Fragment>
</Wix>