<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TESTSUITE_SCRIPTS_DIR">
            <Component Id="cmpE28CC18BF553A7E60306F1DEB00C83FC" Guid="{526978B4-81BD-4904-B11B-D4DC51AB2D6E}">
                <File Id="fil5B876C713EDED65ABFD01ED2C692DA14" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Check-ClusterNodeStatus.ps1" />
            </Component>
            <Component Id="cmpF71320480BA451BE768B7E4FCB54A536" Guid="{AF82E442-F91D-4E9F-9F82-49D9A15AF4FE}">
                <File Id="fil66E0F34E7D3AA566A416FFBA644F29DE" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Check-DCStatus.ps1" />
            </Component>
            <Component Id="cmp1A6F5807A9AA447514C278F5A7C19E7B" Guid="{D7FC6C16-553A-4E17-A57F-4F139F87C331}">
                <File Id="fil0808F03568A5F826F34BC6F40C5E43A9" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Check-StorageStatus.ps1" />
            </Component>
            <Component Id="cmpF5D6B4A16D5DBA2AB163CB46E2EFF4D8" Guid="{A93AF50F-91FA-4DCA-95CE-F67A2B458C02}">
                <File Id="filEBC6C51CE04C072BC098A5D1A54EE078" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Config-AsymmetryMode.ps1" />
            </Component>
            <Component Id="cmp8DA87D3FF36930535264E76EF6F730AF" Guid="{6FDEAF04-8E52-49C6-92CE-55F7A707678C}">
                <File Id="fil163EB11E2AEB25F713817EF44B1480CF" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Config-ClusterNode2.ps1" />
            </Component>
            <Component Id="cmp059CFAC1A1486ACAEA4A374D0CDBEA3E" Guid="{5809AFDD-8BED-41CF-993A-6E13676ED3FB}">
                <File Id="fil3E5F70EAC6A17CD6C1C20FE1AF2D08DB" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Config-ForceLevel2.ps1" />
            </Component>
            <Component Id="cmp6DEF2B6101032ADE7D19BA04D3FA11BC" Guid="{75DC5064-9CA4-40E8-9369-05AE512DA6B3}">
                <File Id="filDEDB543A1FE32BC8E20949782E848D39" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Config-GroupPolicyForClaims.ps1" />
            </Component>
            <Component Id="cmp23C24100F769225DD42D70B723B6BD50" Guid="{0AA92E0C-BCDC-44DB-9789-F1A1DED73F94}">
                <File Id="fil277B569EF22C4462484E701D80B5D288" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Connect-IscsiTarget.ps1" />
            </Component>
            <Component Id="cmpE75D917C197742D1F5D85A006ADCFD81" Guid="{EE2AE8C1-3B8C-442B-B4EC-1B374895DEE2}">
                <File Id="fil4C8AE5090AC696FF9CE2FD129B4B34DF" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Copy-Vhdx.ps1" />
            </Component>
            <Component Id="cmp59EF75C306BC01F8A26DF906DDAD9823" Guid="{554EA05C-3F86-4301-98D8-91FF5651B9FA}">
                <File Id="filCE0449C5674C3843DC42E5703EAFE284" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Create-AuthEnv.ps1" />
            </Component>
            <Component Id="cmp3CFB0F940CFDBADD673E64425D5A7740" Guid="{8F1C370A-5A48-4EB3-B7CF-6F297F8EBFB6}">
                <File Id="filCBC519F34FDC734A1942452550DCB642" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Create-CbacObjectsInDC.ps1" />
            </Component>
            <Component Id="cmp34274542FCA70DC528A0C5BF7D08A9AB" Guid="{77E637A9-08E1-4901-95DD-90C0A19C6C41}">
                <File Id="fil6F412D050C36347F88469709D1D4FBB0" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Create-DFSCEnv.ps1" />
            </Component>
            <Component Id="cmpBD62B8B30378D4186159367F717ED720" Guid="{E39A5B81-6C05-4CE8-BB80-C51BDD30B1D4}">
                <File Id="fil798C7D2CED2F22B3806C7CE2A18C35FF" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Create-DNSRecords.ps1" />
            </Component>
            <Component Id="cmp67F58E64A197D304C8C73C661A812B7D" Guid="{7D156247-380D-46A0-9620-69A38C749D59}">
                <File Id="filE8719AAD7C5C246456BBB461E3A7F626" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Create-FSAEnv.ps1" />
            </Component>
            <Component Id="cmp737F344C650073A9A9C899CF413BB2D1" Guid="{755F3733-FFDA-4BC4-817F-67E6AFE07C23}">
                <File Id="filB5F86E65E0C89B0AA8BE7E2072B61E6E" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Create-IscsiTarget.ps1" />
            </Component>
            <Component Id="cmpC2CAD186C08FDD2F890E62AE20E5C8F9" Guid="{656422D5-20C4-4617-BFA4-A12BEB7A228B}">
                <File Id="fil1C52637BBFE0EBB50B8459BF6C6202A9" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Create-ServerFailoverEnv.ps1" />
            </Component>
            <Component Id="cmp9F4726BFD27A404F587D785BFEAF3E8A" Guid="{2BAB4693-B9E2-45F3-9E47-22ED55EF43CE}">
                <File Id="fil68E594A4C97CD77F831907B93F6F3A45" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Create-SMB2Env.ps1" />
            </Component>
            <Component Id="cmpA956E906123D6BC83F7066B96808CA22" Guid="{3839A252-95D8-47AA-8EF8-3967C0529B70}">
                <File Id="filE7653557B14A4A6D75F9060491F7C664" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Create-SMBShare.ps1" />
            </Component>
            <Component Id="cmpACF8363E7D965111F3CC13BF063F2937" Guid="{82E7580E-EAB3-4929-A58D-B0CF55E7F47F}">
                <File Id="fil5CC09FB19A8A6D49086C3B6DE9B615AD" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Create-TestAccount.ps1" />
            </Component>
            <Component Id="cmp21759CB7093AD874DE05755A15F01655" Guid="{2835FF52-716B-454C-A039-13CC46A13947}">
                <File Id="fil260CD61C0F7ADD8781B18E03969E153D" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Get-OSVersionNumber.ps1" />
            </Component>
            <Component Id="cmp91C7B51C959B837C6F732D636D53F4A8" Guid="{72106E65-021F-4406-8E44-DE7C1E149048}">
                <File Id="fil7FF1E141D40FF1B48987BE9E36508E7F" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\GPOBackup.zip" />
            </Component>
            <Component Id="cmpFB367F0F6B6E6FEF3CD308E1B8D7ED3F" Guid="{9982DEB7-59F3-48CF-8E34-E9FBF497C237}">
                <File Id="fil8E3DE2A5A16B8C3E8107E2A6ED69C2A3" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Import-GPOForClaims.ps1" />
            </Component>
            <Component Id="cmp1344E98C0C253A07E1669AD57FA90224" Guid="{DBAC7466-ED71-4CBF-91D2-DE6A878727ED}">
                <File Id="fil4AAE31A6456EE46F4F8179F1E55C25A5" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Install-WindowsFeature.ps1" />
            </Component>
            <Component Id="cmpF016E469E44910BA41827901C5B7B6EA" Guid="{4ADF1110-D32D-4C78-BBB7-65C8BE907BE2}">
                <File Id="filD998F03DA6367CF901063AA085B96246" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Protocol.xml" />
            </Component>
            <Component Id="cmp6E2E6BFD22E35403EDD64558BD849EDD" Guid="{C8590AB1-2C02-4D20-8B6A-8D33B506BC43}">
                <File Id="fil3C93F68099DBBD777CED176C55098C5F" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Set-ComputerPassword.ps1" />
            </Component>
            <Component Id="cmpB7B6F6903B667D59C866A35911E75C4F" Guid="{9764E824-DE26-41BE-ACC9-9D0FF729AEA3}">
                <File Id="fil3A99B80AD7679D7529881557C8CC73B1" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Set-RequireSigning.ps1" />
            </Component>
            <Component Id="cmp3C1A3F27199D23AB34E22898FA692ECF" Guid="{8D719D5C-E07D-4198-A22F-204628F35FB0}">
                <File Id="fil43F51CEF3F80A49F06F398574059C7D2" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Write-Error.ps1" />
            </Component>
            <Component Id="cmp356542459EB19A4D2215B5CF1C6DB3C2" Guid="{BC3549BD-F2AB-446B-93F3-B4EB36F583FA}">
                <File Id="fil233C87A38852ABA27A0CD2D15DFA21B1" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Write-Info.ps1" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="TESTSUITE_SCRIPTS_FILES">
            <ComponentRef Id="cmpE28CC18BF553A7E60306F1DEB00C83FC" />
            <ComponentRef Id="cmpF71320480BA451BE768B7E4FCB54A536" />
            <ComponentRef Id="cmp1A6F5807A9AA447514C278F5A7C19E7B" />
            <ComponentRef Id="cmpF5D6B4A16D5DBA2AB163CB46E2EFF4D8" />
            <ComponentRef Id="cmp8DA87D3FF36930535264E76EF6F730AF" />
            <ComponentRef Id="cmp059CFAC1A1486ACAEA4A374D0CDBEA3E" />
            <ComponentRef Id="cmp6DEF2B6101032ADE7D19BA04D3FA11BC" />
            <ComponentRef Id="cmp23C24100F769225DD42D70B723B6BD50" />
            <ComponentRef Id="cmpE75D917C197742D1F5D85A006ADCFD81" />
            <ComponentRef Id="cmp59EF75C306BC01F8A26DF906DDAD9823" />
            <ComponentRef Id="cmp3CFB0F940CFDBADD673E64425D5A7740" />
            <ComponentRef Id="cmp34274542FCA70DC528A0C5BF7D08A9AB" />
            <ComponentRef Id="cmpBD62B8B30378D4186159367F717ED720" />
            <ComponentRef Id="cmp67F58E64A197D304C8C73C661A812B7D" />
            <ComponentRef Id="cmp737F344C650073A9A9C899CF413BB2D1" />
            <ComponentRef Id="cmpC2CAD186C08FDD2F890E62AE20E5C8F9" />
            <ComponentRef Id="cmp9F4726BFD27A404F587D785BFEAF3E8A" />
            <ComponentRef Id="cmpA956E906123D6BC83F7066B96808CA22" />
            <ComponentRef Id="cmpACF8363E7D965111F3CC13BF063F2937" />
            <ComponentRef Id="cmp21759CB7093AD874DE05755A15F01655" />
            <ComponentRef Id="cmp91C7B51C959B837C6F732D636D53F4A8" />
            <ComponentRef Id="cmpFB367F0F6B6E6FEF3CD308E1B8D7ED3F" />
            <ComponentRef Id="cmp1344E98C0C253A07E1669AD57FA90224" />
            <ComponentRef Id="cmpF016E469E44910BA41827901C5B7B6EA" />
            <ComponentRef Id="cmp6E2E6BFD22E35403EDD64558BD849EDD" />
            <ComponentRef Id="cmpB7B6F6903B667D59C866A35911E75C4F" />
            <ComponentRef Id="cmp3C1A3F27199D23AB34E22898FA692ECF" />
            <ComponentRef Id="cmp356542459EB19A4D2215B5CF1C6DB3C2" />
        </ComponentGroup>
    </Fragment>
</Wix>