<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TESTSUITE_BIN_DIR">
            <Component Id="cmp52E2A8715F024E5CB7D1A1335086F435" Guid="{E6A8BAD6-F9C1-4D7C-AE1A-16588370C445}">
                <File Id="fil5AB1E027CA7AE929AA887A8D19B6E51A" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\ConfigSignState.ps1" />
            </Component>
            <Component Id="cmp358FEC2E2405A5B2137CBA4818C5558C" Guid="{38DE216A-FEA4-4EAF-AD94-A2AEB74336D5}">
                <File Id="fil0D5C65ED3516A7C12ED26FEE1803B5A9" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\DeleteFiles.ps1" />
            </Component>
            <Component Id="cmp3B1F0ABD14D050FC16625CE7933BFFE3" Guid="{A92A84EA-CED2-4A2C-93BB-C5A9049409F9}">
                <File Id="fil8E5519D790DF294FAA49965ADB4CBDFC" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\factory.xml" />
            </Component>
            <Component Id="cmp6235B76631FF6469F5C227023C58EDE9" Guid="{49B1D00A-3797-4F0C-AA9A-E4666AB83239}">
                <File Id="fil80DF8F995F249B7D8D10F6F12933C94D" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\MS-SMB_ServerAdapter.dll" />
            </Component>
            <Component Id="cmp30F7807BEFDF06970E5F1490CA3BC233" Guid="{9A64DB0F-E8F1-4564-81CA-35A772216D1C}">
                <File Id="fil96F5924A6425DE17972F92FC45C8C2D3" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\MS-SMB_ServerAdapter.pdb" />
            </Component>
            <Component Id="cmp0C134173B9A29D2587D87A417A607A62" Guid="{701E9C4D-0F59-44FE-8F7B-6A7F733AEA1F}">
                <File Id="filFD4EAF3ABF390C2C2086A606C0ABCA75" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\MS-SMB_ServerModel.dll" />
            </Component>
            <Component Id="cmpAF68396BE46386ECCC63023BBE28851B" Guid="{000504DB-F99A-442F-B9BD-505ACEBBEEAB}">
                <File Id="fil20F7DE9D3BCABF9F5396A86EAD677AC9" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\MS-SMB_ServerModel.pdb" />
            </Component>
            <Component Id="cmp42ECF591E881F920FC09C93E84EDA848" Guid="{B76BC3C0-EF40-4D9C-8629-5A61CD7A995C}">
                <File Id="fil28E97ABB1A31B21392218B35B5F570C3" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\MS-SMB_ServerTestSuite.deployment.ptfconfig" />
            </Component>
            <Component Id="cmpD83EE4F9FF9E41F46A7ED209030B2826" Guid="{BB557DAC-3812-4932-BB6B-9FA6AB98539A}">
                <File Id="filB55F22DE413D47CBEBEC99736553C8B5" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\MS-SMB_ServerTestSuite.dll" />
            </Component>
            <Component Id="cmpD7414BED21CB82349E79F122451EDDF3" Guid="{A5D445D3-0725-4579-B72E-05D7455F7C41}">
                <File Id="filA41001A721D1CCB5AE76259015676D14" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\MS-SMB_ServerTestSuite.pdb" />
            </Component>
            <Component Id="cmp5C441B4DB081073CA644E1A3792E0337" Guid="{D95180D6-6ACB-490E-B486-D08B29EBA91C}">
                <File Id="filB5D24323FFFBAEE39222CC295BD96F6D" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\MS-SMB_ServerTestSuite.ptfconfig" />
            </Component>
            <Component Id="cmpDA8FAB7B7E76761560D8EC14FC4D5FAE" Guid="{D3A0ACBC-3B54-4E25-AF5A-CB6F4D4C3D99}">
                <File Id="filE3BBCFF25F47A9437BDE37854F0DC2A6" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\ServerLocalTestRun.testrunconfig" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="TESTSUITE_BIN_FILES">
            <ComponentRef Id="cmp52E2A8715F024E5CB7D1A1335086F435" />
            <ComponentRef Id="cmp358FEC2E2405A5B2137CBA4818C5558C" />
            <ComponentRef Id="cmp3B1F0ABD14D050FC16625CE7933BFFE3" />
            <ComponentRef Id="cmp6235B76631FF6469F5C227023C58EDE9" />
            <ComponentRef Id="cmp30F7807BEFDF06970E5F1490CA3BC233" />
            <ComponentRef Id="cmp0C134173B9A29D2587D87A417A607A62" />
            <ComponentRef Id="cmpAF68396BE46386ECCC63023BBE28851B" />
            <ComponentRef Id="cmp42ECF591E881F920FC09C93E84EDA848" />
            <ComponentRef Id="cmpD83EE4F9FF9E41F46A7ED209030B2826" />
            <ComponentRef Id="cmpD7414BED21CB82349E79F122451EDDF3" />
            <ComponentRef Id="cmp5C441B4DB081073CA644E1A3792E0337" />
            <ComponentRef Id="cmpDA8FAB7B7E76761560D8EC14FC4D5FAE" />
        </ComponentGroup>
    </Fragment>
</Wix>