# The command to create a negotiate-based rdp session.
# {{address}} and {{port}} must be present, they will be replaced with the actual address and port by the agent.
Negotiate=xfreerdp /t:RDPClient /rfx /u:PUT_THE_USERNAME_HERE /p:PUT_THE_PASSWORD_HERE /v:{{address}}:{{port}}
# The command to create a negotiate-based fullscreen rdp session.
# {{address}} and {{port}} must be present, they will be replaced with the actual address and port by the agent.
NegotiateFullScreen=xfreerdp /t:RDPClient /f /rfx /u:PUT_THE_USERNAME_HERE /p:PUT_THE_PASSWORD_HERE /v:{{address}}:{{port}}
# The command to create a CredSSP rdp session.
# {{address}} and {{port}} must be present, they will be replaced with the actual address and port by the agent
DirectCredSSP=xfreerdp /t:RDPClient /rfx /u:PUT_THE_USERNAME_HERE /p:PUT_THE_PASSWORD_HERE /v:{{address}}:{{port}}
# The command to create a CredSSP fullscreen rdp session.
# {{address}} and {{port}} must be present, they will be replaced with the actual address and port by the agent
DirectCredSSPFullScreen=xfreerdp /t:RDPClient /f /rfx /u:PUT_THE_USERNAME_HERE /p:PUT_THE_PASSWORD_HERE /v:{{address}}:{{port}}
# Force close all the freerdp client instance
StopRDP=killall -9 xfreerdp
