<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TESTSUITE_DATA_DIR">
            <Component Id="cmp52A1A972B401A4CA0C35AD91F4AFE1B1" Guid="{F8730549-9110-4579-BB15-97F89C05390B}">
                <File Id="fil9621D1630B95F41BFDA2103780860A72" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\DC_Install_W2K3.txt" />
            </Component>
            <Component Id="cmpCDD6A339F74807619115F7C39D0E54AF" Guid="{B453B73C-5689-4F16-9E4D-DDB23031287A}">
                <File Id="filD83F21CECF9D5C2AD1C3066142903423" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\DC_Install_W2K8.txt" />
            </Component>
            <Directory Id="dirA31D845B5F18889150735F4001F11BBF" Name="Test">
                <Component Id="cmp315870ED72E6F05128CE4E117E1E5835" Guid="{769B50D7-AEDC-446B-A797-F6F5701E8E2A}">
                    <File Id="filBCD3551D773D8367340E287714766F4B" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test1.txt" />
                </Component>
                <Component Id="cmpEE28BC0854B2322D5FD56875F24923A3" Guid="{D45E6184-8A12-4433-8062-4C5280888068}">
                    <File Id="filFDF90690A05215A7DEDF8273BAB9C32D" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test10.txt" />
                </Component>
                <Component Id="cmpD6F53EA44334B66E5ACE4947E2C5521A" Guid="{60046625-7CBE-464E-8B81-5D672B521230}">
                    <File Id="fil8D0B0F0ED2B009B447C136CF104C3AC4" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test105.TXT" />
                </Component>
                <Component Id="cmpDFEC93219B37A97FF88FA020EA470D90" Guid="{AF4F2D2F-2560-4C3F-8BA6-1C1DE6D89DC9}">
                    <File Id="filB03C759CFEB6569BF95CF12B48C03B13" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test106.TXT" />
                </Component>
                <Component Id="cmp6F6C263D8503430B724B721936F93EBB" Guid="{BCE845AA-0387-42A6-9AF2-F1283B3486C3}">
                    <File Id="fil063430D1497F1A0B3D8E6FB62FC79187" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test11.txt" />
                </Component>
                <Component Id="cmp344B1BB870E50D2E9C4BF70DB5BC1299" Guid="{5F13F6CA-68E1-40B1-82E4-4A14E9127388}">
                    <File Id="filAA1A05EBA06CA410F6B7140178EEDA8F" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test114.txt" />
                </Component>
                <Component Id="cmp8377322F81C933FF01B18B4D066DF3D2" Guid="{A25F15D8-DB5F-490E-9C7A-4F2D00610D4D}">
                    <File Id="filEF76E99F1A591540748A89E66E495490" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test121.txt" />
                </Component>
                <Component Id="cmpCB2274C22991E012468B274FEF2660FD" Guid="{9F25E254-5979-462C-BBDF-FF747366D8D9}">
                    <File Id="fil780C6CFDEE99ED8C6BE7C8C81D9615B4" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test122.txt" />
                </Component>
                <Component Id="cmpC39C26DF961D36D54F60DF6E3F8433DD" Guid="{311AFE26-9A3D-4953-A7AA-72D8A043BABD}">
                    <File Id="fil3D9562AA4D7950C65FC4D6027850D882" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test127.doc" />
                </Component>
                <Component Id="cmpCC6D1FA53710E84CF132DFE7B8A600E0" Guid="{CD7F337E-0BA2-41F0-B024-339229217BCD}">
                    <File Id="fil3C0CFFF226B6246994FEE6B34251E318" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test128.txt" />
                </Component>
                <Component Id="cmp4FF3CCDC58AFAB5C48FFA424866B309A" Guid="{CC6726DF-010C-4C2B-89DA-7670A08B3503}">
                    <File Id="fil497F13AC5CA81F20B746B8378FD3AA81" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test129.cpp" />
                </Component>
                <Component Id="cmpA5B376023C3E78A49D5EA04083A81703" Guid="{2692253B-9217-406D-8B19-8752C4675E5A}">
                    <File Id="fil551F9C3B1B1CFB1F6F5BE6158A1DF1D4" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test13.doc" />
                </Component>
                <Component Id="cmpCC155691DC35D234A45802750B4FCB78" Guid="{5FE6644D-1966-4D04-BA0A-3FE87DF6832E}">
                    <File Id="filF08BA0A6CFB94E490140C9652F3D7A9C" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test130.cpp" />
                </Component>
                <Component Id="cmpECB20E50F5CB5B9A84341FC914E60474" Guid="{25DA5C55-04FE-406B-B050-99852DA04F61}">
                    <File Id="fil61BD31B98A08806F4D4B59CC67AD5BA2" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test131.cpp" />
                </Component>
                <Component Id="cmp8A5A5C5F7A039E6C6F344F1CB4CAAF42" Guid="{08330E3E-A86B-4350-8807-57015CBD1164}">
                    <File Id="fil2389EF9E336AB00BB710675AD97FFC9A" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test132.txt" />
                </Component>
                <Component Id="cmp74351EC5D33519C7D0ADDE10329CC8E3" Guid="{6B74C0C8-74F1-4530-A630-191A5393BFF4}">
                    <File Id="fil18064BC5981FEBC4CE38C18289C44552" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test133.txt" />
                </Component>
                <Component Id="cmp9ACF6468E8D38A84454FCB26E2D86BA2" Guid="{467374DF-D54C-4D34-9CA7-3AA946D3E65D}">
                    <File Id="filEFD1D410DCB1417E0445416E953990AB" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test134.txt" />
                </Component>
                <Component Id="cmp997041392AC4E9142268F157A33D0879" Guid="{7DF1A90F-B310-43E4-B55B-E0F277C27AF0}">
                    <File Id="fil2583CE9DE55222DD36992C942FAFCF47" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test135.txt" />
                </Component>
                <Component Id="cmp6DB8FCAA1D283CE44720AC2723349CCA" Guid="{7ED17F75-F5FE-453E-AC19-EC8414E921ED}">
                    <File Id="filBEBA1124C9B4C42878BE67C0173F3663" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test136.txt" />
                </Component>
                <Component Id="cmpEFC2D190EE96B09A76F1C1FF17CFFFC2" Guid="{04767BB0-7781-473F-917D-FC473F3BC8E9}">
                    <File Id="fil27230B2A9CE972765DBE6328526E31FD" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test137.txt" />
                </Component>
                <Component Id="cmpDB835C332049972B16C7A03465407EA3" Guid="{BCBF8AE0-1020-4F6D-BE07-B04D5299D365}">
                    <File Id="fil044560F954D93EF891147255DFDD4D10" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test138.txt" />
                </Component>
                <Component Id="cmpD3AFBAE07C02F68626EA27288C74443A" Guid="{FEA6A804-E6BD-4BF1-BE43-7E76D2849E34}">
                    <File Id="filC5F0271C1359A86F06570536AAA96FEF" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test139.txt" />
                </Component>
                <Component Id="cmpA02A136DDC6107CE920AD276B2382BC7" Guid="{D3A61D1F-05FD-46A7-96B0-8ECF52AAF435}">
                    <File Id="fil6DDC9659EB4BF22160B2FD7B11321C7E" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test14.xlsm" />
                </Component>
                <Component Id="cmp02EEF56A96E4CF7E8C38D07D3D146B2B" Guid="{64F67A95-25EF-483C-BC37-469915ADC6A5}">
                    <File Id="filFC743125D83FED3010E6481B0FC5B07E" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test140.txt" />
                </Component>
                <Component Id="cmp1638868FD6A07971B27BAB0DB6567E6C" Guid="{923CD454-B472-4495-A395-073AC4236EC8}">
                    <File Id="fil1CB9D6F3BCC23FF35E3F7A43C00D0B1E" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test141.txt" />
                </Component>
                <Component Id="cmp7CBB54A19DC8DAF488166077D713AD37" Guid="{B185ECB8-78CF-44A1-B58F-593380964EE7}">
                    <File Id="filF36693BEEC0C751515A82E9EF02AA259" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test142.txt" />
                </Component>
                <Component Id="cmp65E8BC144450F841C07A7C87534D3F34" Guid="{C04D5D12-0B8F-4FA6-A36C-A1314C536032}">
                    <File Id="filD349280EE36E36A99C5A5AB90CA88651" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test143.txt" />
                </Component>
                <Component Id="cmp0B448F1B3CABCBEBC8B399B53DAA301B" Guid="{8B919C99-EE0A-463B-BC2C-D29FA498357F}">
                    <File Id="fil05FBEAAF5C449B2A3A7C276B73A912BF" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test15.docx" />
                </Component>
                <Component Id="cmpE9E759A2B1A6F5BBE04B9FD3FF0D8E5B" Guid="{25B34659-4743-4725-B585-09011D08643B}">
                    <File Id="filBB791A016BA4FF13ECDB6BC892B48DC6" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test17.docx" />
                </Component>
                <Component Id="cmpF01E9E3C68EBF6CD53A0C8E12D6D1E16" Guid="{95F6377E-8A79-4684-B0C0-E053D13F529F}">
                    <File Id="filC21757945FD5610A1DD84A7FCF0C073D" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test2.txt" />
                </Component>
                <Component Id="cmp325C32BD02B7F2DE3AE11F690F88E837" Guid="{DB662E58-8573-4096-9C60-B2D7C72BA491}">
                    <File Id="filCB3E457FFDB2759D3536A7457F8D6B46" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test27.txt" />
                </Component>
                <Component Id="cmpED13E804721F1D0629BFFE4AF7AA2A40" Guid="{2D910C3A-C9F6-48C1-A448-132A78CC0334}">
                    <File Id="fil931D1966C9241D267197C264D2B67BC7" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test3.txt" />
                </Component>
                <Component Id="cmp09891B8200FFB5590D5440B32FB3DEFB" Guid="{1605D689-9F8A-455F-96B7-E3DCBDDE2920}">
                    <File Id="filD671797AE2CFFE0668C80C678A44F0F8" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test5.txt" />
                </Component>
                <Component Id="cmp969E2BFE66654382E849AE2F668EFE40" Guid="{B431661F-59AD-468C-B525-B0C377CAA687}">
                    <File Id="fil700FA23C717D4E76F558BA2BF694184C" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test6.txt" />
                </Component>
                <Component Id="cmp1919EEBB4BE178FFEFA1FDA783FE5D4D" Guid="{983A3FC0-8681-4E68-A0A2-98AD81164066}">
                    <File Id="filECC14FE38154856C825E494FF1C99540" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test7.txt" />
                </Component>
                <Component Id="cmp6C7ED39DB5BF247F2D6C1B825F92F624" Guid="{36D2D9AB-457E-47F5-B277-90DF54F2D600}">
                    <File Id="fil8D6D0EF2CADE8601617AFB2C35A1DE1E" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test8.txt" />
                </Component>
                <Component Id="cmpA4127EB732778D35324F506AF36D0314" Guid="{67829835-89E2-4EA4-B965-DF81D760B742}">
                    <File Id="fil3B2FC17994E4609DA03D1D2E8AE8085B" KeyPath="yes" Source="!(wix.TESTSUITE_DATA_DIR)\Test\test9.txt" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="TESTSUITE_DATA_FILES">
            <ComponentRef Id="cmp52A1A972B401A4CA0C35AD91F4AFE1B1" />
            <ComponentRef Id="cmpCDD6A339F74807619115F7C39D0E54AF" />
            <ComponentRef Id="cmp315870ED72E6F05128CE4E117E1E5835" />
            <ComponentRef Id="cmpEE28BC0854B2322D5FD56875F24923A3" />
            <ComponentRef Id="cmpD6F53EA44334B66E5ACE4947E2C5521A" />
            <ComponentRef Id="cmpDFEC93219B37A97FF88FA020EA470D90" />
            <ComponentRef Id="cmp6F6C263D8503430B724B721936F93EBB" />
            <ComponentRef Id="cmp344B1BB870E50D2E9C4BF70DB5BC1299" />
            <ComponentRef Id="cmp8377322F81C933FF01B18B4D066DF3D2" />
            <ComponentRef Id="cmpCB2274C22991E012468B274FEF2660FD" />
            <ComponentRef Id="cmpC39C26DF961D36D54F60DF6E3F8433DD" />
            <ComponentRef Id="cmpCC6D1FA53710E84CF132DFE7B8A600E0" />
            <ComponentRef Id="cmp4FF3CCDC58AFAB5C48FFA424866B309A" />
            <ComponentRef Id="cmpA5B376023C3E78A49D5EA04083A81703" />
            <ComponentRef Id="cmpCC155691DC35D234A45802750B4FCB78" />
            <ComponentRef Id="cmpECB20E50F5CB5B9A84341FC914E60474" />
            <ComponentRef Id="cmp8A5A5C5F7A039E6C6F344F1CB4CAAF42" />
            <ComponentRef Id="cmp74351EC5D33519C7D0ADDE10329CC8E3" />
            <ComponentRef Id="cmp9ACF6468E8D38A84454FCB26E2D86BA2" />
            <ComponentRef Id="cmp997041392AC4E9142268F157A33D0879" />
            <ComponentRef Id="cmp6DB8FCAA1D283CE44720AC2723349CCA" />
            <ComponentRef Id="cmpEFC2D190EE96B09A76F1C1FF17CFFFC2" />
            <ComponentRef Id="cmpDB835C332049972B16C7A03465407EA3" />
            <ComponentRef Id="cmpD3AFBAE07C02F68626EA27288C74443A" />
            <ComponentRef Id="cmpA02A136DDC6107CE920AD276B2382BC7" />
            <ComponentRef Id="cmp02EEF56A96E4CF7E8C38D07D3D146B2B" />
            <ComponentRef Id="cmp1638868FD6A07971B27BAB0DB6567E6C" />
            <ComponentRef Id="cmp7CBB54A19DC8DAF488166077D713AD37" />
            <ComponentRef Id="cmp65E8BC144450F841C07A7C87534D3F34" />
            <ComponentRef Id="cmp0B448F1B3CABCBEBC8B399B53DAA301B" />
            <ComponentRef Id="cmpE9E759A2B1A6F5BBE04B9FD3FF0D8E5B" />
            <ComponentRef Id="cmpF01E9E3C68EBF6CD53A0C8E12D6D1E16" />
            <ComponentRef Id="cmp325C32BD02B7F2DE3AE11F690F88E837" />
            <ComponentRef Id="cmpED13E804721F1D0629BFFE4AF7AA2A40" />
            <ComponentRef Id="cmp09891B8200FFB5590D5440B32FB3DEFB" />
            <ComponentRef Id="cmp969E2BFE66654382E849AE2F668EFE40" />
            <ComponentRef Id="cmp1919EEBB4BE178FFEFA1FDA783FE5D4D" />
            <ComponentRef Id="cmp6C7ED39DB5BF247F2D6C1B825F92F624" />
            <ComponentRef Id="cmpA4127EB732778D35324F506AF36D0314" />
        </ComponentGroup>
    </Fragment>
</Wix>