<?xml version="1.0" encoding="UTF-8"?>
<?define SYMBOLS_DIR=$(env.TestSuiteRoot)\drop\TestSuites\MS-WSP\Bin?>
<?define TESTSUITE_DROP_DIR=$(env.TestSuiteRoot)\drop\TestSuites\MS-WSP\Bin?>
<?define PROTOSDK_SYMBOLS_DIR=$(env.TestSuiteRoot)\drop\ProtoSDK\Bin?>
<?define PROTOSDK_DROP_DIR=$(env.TestSuiteRoot)\drop\ProtoSDK\Bin?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>

    <!-- Files to be installed to test suite. -->
    <!-- Source code and files in drop folder are automatically installed. -->
    <ComponentGroup Id="TESTSUITE_MISC_FILES">
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.dll"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.pdb"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.Asn1Base.dll"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.Asn1Base.pdb"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.Security.CryptoLib.dll"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.Security.CryptoLib.pdb"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.dll"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.pdb"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.Messages.dll"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.Messages.pdb"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.Security.Nlmp.dll"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.Security.Nlmp.pdb"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smb2.dll"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smb2.pdb"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.Security.Sspi.dll"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.Security.Sspi.pdb"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.Security.SspiLib.dll"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.Security.SspiLib.pdb"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.Security.SspiService.dll"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.Security.SspiService.pdb"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.Security.KerberosLib.dll"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.Security.KerberosLib.pdb"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.Transport.dll"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.Transport.pdb"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.WSP.dll"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.WSP.pdb"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.Compression.Xpress.dll"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.Compression.Xpress.pdb"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.Security.Spng.dll"/>
      <ComponentRef Id="Microsoft.Protocols.TestTools.StackSdk.Security.Spng.pdb"/>
      <!-- Test Suite binaries and symbols. -->
      <ComponentRef Id="MS_WSP_ServerAdapter.dll" />
      <ComponentRef Id="MS_WSP_ServerAdapter.pdb" />
      <ComponentRef Id="MS_WSP_ServerTestSuite.dll" />
      <ComponentRef Id="MS_WSP_ServerTestSuite.pdb" />
    </ComponentGroup>


    <!-- Files to be installed to SUT. -->
    <!-- Scripts in drop folder are automatically installed. -->
    <ComponentGroup Id="TESTSUITE_SUT_FILES">
      <!--
      <ComponentRef Id="FILENAME"/>
      -->
    </ComponentGroup>

    
    <!-- Files to be installed to domain. -->
    <!-- Scripts in drop folder are automatically installed. -->
    <ComponentGroup Id="TESTSUITE_DOMAIN_FILES">
      <!--
      <ComponentRef Id="FILENAME"/>
      -->
    </ComponentGroup>


    <!-- This is installed directory on target machine: TestSuite\docs -->
    <!-- There are some other Directory Ids pre-defined: TESTSUITE_BIN_DIR, TESTSUITE_SOURCE_DIR, TESTSUITE_SCRIPTS_DIR. -->
  
    <DirectoryRef Id="TESTSUITE_BIN_DIR">
      <!-- Test Suite binaries. -->
      <Component Id="MS_WSP_ServerAdapter.dll" Guid="E279A909-A475-435A-BEC5-70CA2C1E514F">
        <File Id="MS_WSP_ServerAdapter.dll"
              Source="$(var.TESTSUITE_DROP_DIR)\MS-WSP_ServerAdapter.dll" />
      </Component>

      <Component Id="MS_WSP_ServerTestSuite.dll" Guid="3FA99999-4C24-464B-97F9-3D07D64F136C">
        <File Id="MS_WSP_ServerTestSuite.dll"
              Source="$(var.TESTSUITE_DROP_DIR)\MS-WSP_ServerTestSuite.dll" />
      </Component>

      <!-- Test Suite symbols. -->
      <Component Id="MS_WSP_ServerAdapter.pdb" Guid="5DF6F531-9220-41d4-BE17-F95527DC7368">
        <File Id="MS_WSP_ServerAdapter.pdb"
              Source="$(var.SYMBOLS_DIR)\MS-WSP_ServerAdapter.pdb" />
      </Component>

      <Component Id="MS_WSP_ServerTestSuite.pdb" Guid="2193E76B-932F-437d-8E6F-B1641557AF60">
        <File Id="MS_WSP_ServerTestSuite.pdb"
              Source="$(var.SYMBOLS_DIR)\MS-WSP_ServerTestSuite.pdb" />
      </Component>
            
    </DirectoryRef>
    <DirectoryRef Id="PROTOCOLSDK_BIN_DIR">      
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.dll" Guid="{C223B420-32A9-45C6-AA0D-AD50561E9DC7}">
        <File Id="filEE6D4789723831E5503B41BFE85CA0DF" Source="!(wix.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.pdb" Guid="{C6AB8387-34CF-418B-BD04-CED9539D5E88}">
        <File Id="fil27C518D7A3583F0071970672D3043D86" Source="$(var.PROTOSDK_SYMBOLS_DIR)\Microsoft.Protocols.TestTools.StackSdk.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Asn1Base.dll" Guid="{069FEC48-6689-4C04-9B59-71ED5AB33281}">
        <File Id="fil069FEC4866894C049B5971ED5AB33281" Source="!(wix.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.Asn1Base.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Asn1Base.pdb" Guid="{9D2EB663-AC8E-4DC1-96EA-85B77ABD00B9}">
        <File Id="fil9D2EB663AC8E4DC196EA85B77ABD00B9" Source="$(var.PROTOSDK_SYMBOLS_DIR)\Microsoft.Protocols.TestTools.StackSdk.Asn1Base.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Security.CryptoLib.dll" Guid="{4A0514E3-9C01-4C20-896E-5613E89F99E5}">
        <File Id="fil405C78F9895E03F03DFACB7897840DA4" Source="!(wix.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.Security.CryptoLib.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Security.CryptoLib.pdb" Guid="{3C6DC8AB-0582-46B5-B400-E05AB9B6DE96}">
        <File Id="filBC8F4F0BD9B1799FAC1BACA981C5268E" Source="$(var.PROTOSDK_SYMBOLS_DIR)\Microsoft.Protocols.TestTools.StackSdk.Security.CryptoLib.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.dll" Guid="{0D2C0A17-9A8B-4C6E-96B7-5F7EC3E98EBB}">
        <File Id="filF5F1FC7433635A82592387076ECBCFC7" Source="!(wix.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.pdb" Guid="{63F8784C-27BA-4E17-8155-491C799A3AC2}">
        <File Id="fil17EFC2E8EC670E3666505B0FF4BDC5C3" Source="$(var.PROTOSDK_SYMBOLS_DIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.pdb" />
      </Component>      
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Messages.dll" Guid="{9FF3D165-C4AC-4D38-8778-E6922F16ED3E}">
        <File Id="fil22E1C26CD9D94F4045E431026A659BDB" Source="!(wix.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.Messages.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Messages.pdb" Guid="{D9B1C2CD-945D-41A1-910A-993340C2549D}">
        <File Id="filDC2812FF386FEA3A4CB3E9C4F4CB6041" Source="$(var.PROTOSDK_SYMBOLS_DIR)\Microsoft.Protocols.TestTools.StackSdk.Messages.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Security.Nlmp.dll" Guid="{1C83A114-6E48-4C12-954C-A770AB77ECD4}">
        <File Id="fil9E293A3FF01FBCF8F2C5050939241651" Source="!(wix.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.Security.Nlmp.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Security.Nlmp.pdb" Guid="{E4653BDA-D291-4472-B2EE-B8F0755BF6A4}">
        <File Id="fil75461EF360CAE570D1B9C7294EBE6CD7" Source="$(var.PROTOSDK_SYMBOLS_DIR)\Microsoft.Protocols.TestTools.StackSdk.Security.Nlmp.pdb" />
      </Component>      
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smb2.dll" Guid="{58B3D860-053F-4624-9E36-9879C1E25D34}">
        <File Id="filAD43C0A340B99F3AD64A722444CFC1F8" Source="!(wix.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smb2.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smb2.pdb" Guid="{BD158C52-F6BA-4544-ABBB-D4F1FB6F8EC6}">
        <File Id="filAF778764E3399A4AD04C8E1D3D6298B3" Source="$(var.PROTOSDK_SYMBOLS_DIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smb2.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Security.Sspi.dll" Guid="{6F87329F-8038-4076-850B-9DE8EA1FD138}">
        <File Id="filC7E1A1A5CDB4621DED0BF9CB3AD34D56" Source="!(wix.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.Security.Sspi.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Security.Sspi.pdb" Guid="{514E9607-4302-4F72-A458-876CD7E44024}">
        <File Id="filA167A924CD3EC7665DEFDD34DDDBF574" Source="$(var.PROTOSDK_SYMBOLS_DIR)\Microsoft.Protocols.TestTools.StackSdk.Security.Sspi.pdb" />
      </Component>     
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Security.SspiLib.dll" Guid="{8C1711D1-6C08-410D-A905-BAD4340DA6EA}">
        <File Id="filDDC6FE2092E34514A0414EBB94C27EC9" Source="!(wix.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.Security.SspiLib.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Security.SspiLib.pdb" Guid="{601D331B-F03F-4801-A3B5-1511B0E0CDD2}">
        <File Id="filF8E59E2A4EAE40AE87DE61F16EBF9044" Source="$(var.PROTOSDK_SYMBOLS_DIR)\Microsoft.Protocols.TestTools.StackSdk.Security.SspiLib.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Security.SspiService.dll" Guid="{8D9344FE-24C3-4D29-95E6-24EBBB8D628E}">
        <File Id="filD22B8D594C534B789768B1D46A064870" Source="!(wix.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.Security.SspiService.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Security.SspiService.pdb" Guid="{CA72E5B7-F287-4968-88F1-C9AFF7721468}">
        <File Id="fil74F224B0085F4B719CA6AE2A63C248DA" Source="$(var.PROTOSDK_SYMBOLS_DIR)\Microsoft.Protocols.TestTools.StackSdk.Security.SspiService.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Security.KerberosLib.dll" Guid="{5CDC9868-37C2-48E6-A320-C82633EAB265}">
        <File Id="fil5CDC986837C248E6A320C82633EAB265" Source="!(wix.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.Security.KerberosLib.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Security.KerberosLib.pdb" Guid="{F1E4B363-7D3E-416C-92EE-B964F30861FE}">
        <File Id="filF1E4B3637D3E416C92EEB964F30861FE" Source="$(var.PROTOSDK_SYMBOLS_DIR)\Microsoft.Protocols.TestTools.StackSdk.Security.KerberosLib.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Transport.dll" Guid="{A94E2BAF-C495-4D5C-BC89-54853EC418E1}">
        <File Id="filFFD4EA5E8E1224E1A49A8648E3B56B21" Source="!(wix.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.Transport.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Transport.pdb" Guid="{FA12B3D3-5B53-474E-A997-AF10C07B2FAD}">
        <File Id="fil3D7FAF9F6804D19280253F565FD4CFF1" Source="$(var.PROTOSDK_SYMBOLS_DIR)\Microsoft.Protocols.TestTools.StackSdk.Transport.pdb" />
      </Component>      
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Compression.Xpress.dll" Guid="{B6232ABA-9239-4C80-A091-A96E56A0D74B}">
        <File Id="fil020E3D34B07C493380905EE190EA147D" Source="!(wix.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.Compression.Xpress.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Compression.Xpress.pdb" Guid="{44D187D1-3B66-4B81-AAFD-F633818B193F}">
        <File Id="filE46572A239C24010955556CC3DB2E5A2" Source="$(var.PROTOSDK_SYMBOLS_DIR)\Microsoft.Protocols.TestTools.StackSdk.Compression.Xpress.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.WSP.dll" Guid="{C5D6AC36-7DAD-4AAC-A27C-4AAE8C10D559}">
        <File Id="fil627929346BF483DEAA7AC029CE388306" Source="!(wix.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.WSP.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.WSP.pdb" Guid="{A7D08A15-B1E4-4B3B-A72B-83084C0DB300}">
        <File Id="filB1F637A87332EB226195B7A4905B3CCF" Source="$(var.PROTOSDK_SYMBOLS_DIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.WSP.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Security.Spng.dll" Guid="{76DBC825-7B92-4D83-94F1-9D20E781904F}">
        <File Id="fil627929346BF483DEAA7AC129CE388306" Source="!(wix.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.Security.Spng.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Security.Spng.pdb" Guid="{84CF1B64-A324-4128-A694-BDE25FBAB0BC}">
        <File Id="filB1F637A87332EB226195B7A4907B3CCF" Source="$(var.PROTOSDK_SYMBOLS_DIR)\Microsoft.Protocols.TestTools.StackSdk.Security.Spng.pdb" />
      </Component>         

   </DirectoryRef>
    <DirectoryRef Id="TESTSUITE_DATA_DIR">
    </DirectoryRef>
    
	</Fragment>
</Wix>