<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TESTSUITE_BATCH_DIR">
            <Component Id="cmp524A3D5B76F1DDD42C964F083F6CCAC3" Guid="{3817F480-0DB5-43BC-8083-D9A5963C502F}">
                <File Id="fil7A0D52FB487F1579DF980A211EDC8F5A" KeyPath="yes" Source="!(wix.TESTSUITE_BATCH_DIR)\RunAllTestCases.cmd" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="TESTSUITE_BATCH_FILES">
            <ComponentRef Id="cmp524A3D5B76F1DDD42C964F083F6CCAC3" />
        </ComponentGroup>
    </Fragment>
</Wix>