<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TESTSUITE_BATCH_DIR">
            <Component Id="cmp524A3D5B76F1DDD42C964F083F6CCAC3" Guid="{FF445055-0462-4F63-A655-04487556AF73}">
                <File Id="fil7A0D52FB487F1579DF980A211EDC8F5A" KeyPath="yes" Source="!(wix.TESTSUITE_BATCH_DIR)\RunAllTestCases.cmd" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="TESTSUITE_BATCH_FILES">
            <ComponentRef Id="cmp524A3D5B76F1DDD42C964F083F6CCAC3" />
        </ComponentGroup>
    </Fragment>
</Wix>