<div style="clear: both"></div>
<div class="text-left">
    <h2>Help</h2>
    <p>
        An image to encode can be uploaded in the Tile Input step. It can only encode 
        a 64x64 area which is called a tile in the left-top of the image. On the other 
        hand you can input your intermediate data in the Input tab and compute the 
        results at each step. You can also find the source code of each step by clicking 
        the Code button. Previous Frame stage is used to input the previous image data in
        the current area which is used for the Sub-Band Diffing stage. If you don't input
        any data in the Previous Stage then Sub-Band Diffing stage will be skipped. Detailed description 
        of the RemoteFX encode codec please refer to 
        the Microsoft Open Specification [<a href="http://msdn.microsoft.com/en-us/library/hh554846.aspx">MS-RDPEGFX</a>].
    </p>
</div>