<div class="text-left">
    <h2>RemoteFX Progressive Encoding Codec</h2>
    <p>
        The RemoteFX Progressive Codec extends the RemoteFX Codec ([MS-RDPRFX]) by adding sub-band
             diffing and the ability to progressively encode an image. Sub-band diffing is a compression
             technique that entails transmitting the differences between the DWT coefficients of consecutive
             frames, while progressive encoding involves the transmission of low-quality images that are
             gradually refined and improved in quality.
    </p>
</div>