<div class="text-left">
    <h2>Peak Signal-to-Noise Ratio (PSNR)</h2>
    <div>
        <p>
        <a href="http://en.wikipedia.org/wiki/Peak_signal-to-noise_ratio">Peak Signal-to-Noise Ratio</a>
             is the ratio between the reference signal and the distortion signal
             in an image, given in decibels. The higher the PSNR, the closer the distorted image is to
             the original. In general, a higher PSNR value should correlate to a higher quality image,
             but tests have shown that this isn't always the case. However, PSNR is a popular quality
             metric because it's easy and fast to calculate while still giving okay results.
        </p>
        <p>
            For images A = {a<sub>1</sub> .. a<sub>M</sub>}, B = {b<sub>1</sub> .. b<sub>M</sub>}, 
            and MAX equal to the maximum possible pixel value (2^8 - 1 = 255 for 8-bit images):
        </p>
        <div class="text-center" style="padding: 5px;">
            <img src="~/Images/Resource/psnr_eq.png" />
        </div>
    </div>
</div>
