<div class="text-left">
    <h2>Structural SIMilarity (SSIM)</h2>
    <div>
        <p>
        <a href="http://en.wikipedia.org/wiki/Peak_signal-to-noise_ratio">The structural similarity</a>
             (SSIM) index is a method for measuring the similarity between two images.
             The SSIM index is a full reference metric; in other words, the measuring of image quality based on
             an initial uncompressed or distortion-free image as reference. SSIM is designed to improve on
             traditional methods like peak signal-to-noise ratio (PSNR) and mean squared error (MSE), which
             have proven to be inconsistent with human eye perception. The detailed formulas you can refer to
             <a href="#formula">here</a> or this <a href="https://ece.uwaterloo.ca/~z70wang/publications/ssim.html">
             paper</a> directly.
        </p>
    </div>
</div>
