
  <Parameters>   
	<LogPath>C:\Test\TestLog</LogPath>
    <CapturePath>c:\Test\TestLog\MA</CapturePath>	
	<LocalRealm>
		<DomainName>CONTOSO.COM</DomainName>			
		<DomainAdministrator>
			<Username>administrator</Username>
			<Password>Password01!</Password>
		</DomainAdministrator>
        
            <DC>
                <Name>DC01</Name>
                <IP>192.168.0.1</IP>
                <Username>contoso\administrator</Username>    
                <Password>Password01!</Password>
            </DC>
            <Client>
                <Name>Client01</Name>
                <IP>192.168.0.3</IP>
                <User>contoso\administrator</User>    
                <Password>Password01!</Password>
            </Client>   
             <FileServers>
                <FileServer>
                    <Name>AP01</Name>
                    <IP>192.168.0.2</IP>
                    <admin>contoso\administrator</admin>    
                    <adminPassword>Password01!</adminPassword>
                    <Shares>
                        <SharesRootPath>c:\</SharesRootPath>
			<Share>
                            <Name>AZODShare</Name>
                            <Policy>PET-AccessPolicy</Policy>
                        </Share>
                        <Share>
                            <Name>CountryCodeEquals156Allowed</Name>
                            <Policy>CountryCodeEquals156Policy</Policy>
                        </Share>
                         <Share>
                            <Name>CountryCodeNotEquals156Allowed</Name>
                            <Policy>CountryCodeNotEquals156Policy</Policy>
                        </Share>
                         <Share>
                            <Name>CountryCodeLessThan392Allowed</Name>
                            <Policy>CountryCodeLessThan392Policy</Policy>
                        </Share>
                         <Share>
                            <Name>CountryCodeLessThanOrEquals392Allowed</Name>
                            <Policy>CountryCodeLessThanOrEquals392Policy</Policy>
                        </Share>
                         <Share>
                            <Name>CountryCodeGreaterThan392Allowed</Name>
                            <Policy>CountryCodeGreaterThan392Policy</Policy>
                        </Share>
                         <Share>
                            <Name>CountryCodeGreaterThanOrEquals392Allowed</Name>
                            <Policy>CountryCodeGreaterThanOrEquals392Policy</Policy>
                        </Share>
                         <Share>
                            <Name>CountryCodeAnyOf156Or840Allowed</Name>
                            <Policy>CountryCodeAnyOf156Or840Policy</Policy>
                        </Share>
                         <Share>
                            <Name>CountryCodeNotAnyOf156Or840Allowed</Name>
                            <Policy>CountryCodeNotAnyOf156Or840Policy</Policy>
                        </Share>
                         <Share>
                            <Name>CountryCodeEquals156AndITDepartmentAllowed</Name>
                            <Policy>CountryCodeEquals156AndITDepartmentPolicy</Policy>
                        </Share>
                         <Share>
                            <Name>CountryCodeEquals156OrITDepartmentAllowed</Name>
                            <Policy>CountryCodeEquals156OrITDepartmentPolicy</Policy>
                        </Share>                         
                    </Shares>
                </FileServer>
            </FileServers>          
        
        <Groups>
            <Group>
                <Name>Payroll</Name>
            </Group>
            <Group>
                <Name>Payroll Admins</Name>
                <Parent>Payroll</Parent>
            </Group>
            <Group>
                <Name>IT</Name>
            </Group>
            <Group>
                <Name>IT Admins</Name>
                <Parent>IT</Parent>
            </Group> 
        </Groups>

        <Users>
		<User>
			    <Username>claimuser</Username>
			    <Password>Password01!</Password>
			<Company>contoso</Company>			    
		    </User>
 		<User>
			    <Username>noclaimuser</Username>
			    <Password>Password01@</Password>			    
		    </User>
            <User>
			    <Username>ITadmin01</Username>
			    <Password>Password01@</Password>
			    <Group>IT Admins</Group>
                <CountryCode>156</CountryCode>
                <Department>IT</Department>
		    </User>
            <User>
			    <Username>ITmember01</Username>
			    <Password>Password01@</Password>
			    <Group>IT</Group>
                <CountryCode>392</CountryCode>
                <Department>IT</Department>

		    </User>
            <User>
			    <Username>Payrollmember01</Username>
			    <Password>Password01@</Password>
			    <Group>Payroll</Group>
                <CountryCode>156</CountryCode>
                <Department>Payroll</Department>
                <Company>Contoso</Company>
		    </User>
           <User>
			    <Username>Payrollmember02</Username>
			    <Password>Password01@</Password>
			    <Group>Payroll</Group>
                <CountryCode>840</CountryCode>
                <Department>Payroll</Department>

		    </User>
           <User>
			    <Username>Payrollmember03</Username>
			    <Password>Password01@</Password>
			    <Group>Payroll</Group>
                <CountryCode>392</CountryCode>
                <Department>Payroll</Department>
		    </User>
           <User>
			    <Username>Payrolladmin01</Username>
			    <Password>Password01@</Password>
			    <Group>Payroll Admins</Group>
                <CountryCode>840</CountryCode>
                <Department>Payroll</Department>
		    </User>	
        </Users>
        <ClaimTypes>
            <ClaimType>
			    <DisplayName>Department</DisplayName>
                <Values>
                <Value>IT</Value>
                <Value>Payroll</Value>
                </Values>			   
		    </ClaimType>
            <ClaimType>
			    <DisplayName>Company</DisplayName>
                <Values>
                <Value>Contoso</Value>
                <Value>Kerb</Value>
                </Values>
		    </ClaimType>
            <ClaimType>
			    <DisplayName>CountryCode</DisplayName>
                <Values>
                <Value>840</Value>
                <Value>392</Value>
                <Value>156</Value>
                </Values>			   
		    </ClaimType>
        </ClaimTypes>		
        <ResourceProperties>
            <ResourceProperty>
		  	    <DisplayName>Company_MS</DisplayName>
		  	    <ValueType>MS-DS-SinglevaluedChoice</ValueType>
                <Values>
                <Value>contoso</Value>
                <Value>kerb</Value>                
                </Values>		  	    
		    </ResourceProperty>	
		    <ResourceProperty>
		  	    <DisplayName>SecurityLevel</DisplayName>
		  	    <ValueType>MS-DS-SinglevaluedChoice</ValueType>
                <Values>
                <Value>HBI</Value>
                <Value>MBI</Value>
                <Value>LBI</Value>
                </Values>		  	    
		    </ResourceProperty>
		    <ResourceProperty>
		  	    <DisplayName>Department</DisplayName>
		  	    <ValueType>MS-DS-SinglevaluedChoice</ValueType>
                <Values>
                <Value>Payroll</Value>
                <Value>IT</Value>
                </Values>
		  	    
		    </ResourceProperty>
            <ResourceProperty>
		  	    <DisplayName>CountryCode</DisplayName>
		  	    <ValueType>MS-DS-SinglevaluedChoice</ValueType>		  	    
                <Values>
                <Value>156</Value>
                <Value>840</Value>
                <Value>392</Value>
                </Values>            
		    </ResourceProperty>
        </ResourceProperties>
        <Rules>		
             <Rule>
		  	    <Name>PET-AccessRule</Name>
                <ResourceCondition></ResourceCondition>
                <RuleItem>(XA;;FA;;;AU;(@USER.ad://ext/Company == "contoso"))</RuleItem>
		    </Rule>    
            <Rule>
		  	    <Name>CountryCodeEquals156Rule</Name>
                <ResourceCondition></ResourceCondition>
                <RuleItem>(XA;;FA;;;AU;(@USER.ad://ext/CountryCode == 156))</RuleItem>
		    </Rule>
            <Rule>
		  	    <Name>CountryCodeNotEquals156Rule</Name>
                <ResourceCondition></ResourceCondition>
                <RuleItem>(XA;;FA;;;AU;(@USER.ad://ext/CountryCode != 156))</RuleItem>
		    </Rule>
            <Rule>
		  	    <Name>CountryCodeLessThan392Rule</Name>
                <ResourceCondition></ResourceCondition>
                <RuleItem>(XA;;FA;;;AU;(@USER.ad://ext/CountryCode Less than 392))</RuleItem>
		    </Rule>
            <Rule>
		  	    <Name>CountryCodeLessThanOrEquals392Rule</Name>
                <ResourceCondition></ResourceCondition>
                <RuleItem>(XA;;FA;;;AU;(@USER.ad://ext/CountryCode Less than or equals 392))</RuleItem>
		    </Rule>
            <Rule>
		  	    <Name>CountryCodeGreaterThan392Rule</Name>
                <ResourceCondition></ResourceCondition>
                <RuleItem>(XA;;FA;;;AU;(@USER.ad://ext/CountryCode Greater than 392))</RuleItem>
		    </Rule>
            <Rule>
		  	    <Name>CountryCodeGreaterThanOrEquals392Rule</Name>
                <ResourceCondition></ResourceCondition>
                <RuleItem>(XA;;FA;;;AU;(@USER.ad://ext/CountryCode Greater than or equals 392))</RuleItem>
		    </Rule>
            <Rule>
		  	    <Name>CountryCodeAnyOf156Or840Rule</Name>
                <ResourceCondition></ResourceCondition>
                <RuleItem>(XA;;FA;;;AU;(@USER.ad://ext/CountryCode Any_of {156,840}))</RuleItem>
		    </Rule>
            <Rule>
		  	    <Name>CountryCodeNotAnyOf156Or840Rule</Name>
                <ResourceCondition></ResourceCondition>
                <RuleItem>(XA;;FA;;;AU;(@USER.ad://ext/CountryCode Not_Any_of {156,840}))</RuleItem>
		    </Rule>
            <Rule>
		  	    <Name>CountryCodeEquals156AndITDepartmentRule</Name>
                <ResourceCondition></ResourceCondition>
                <RuleItem>(XA;;FA;;;AU;((@USER.ad://ext/CountryCode == 156) And (@USER.ad://ext/Department == "IT")))</RuleItem>
		    </Rule>
            <Rule>
		  	    <Name>CountryCodeEquals156OrITDepartmentRule</Name>
                <ResourceCondition></ResourceCondition>
                <RuleItem>(XA;;FA;;;AU;((@USER.ad://ext/CountryCode == 156) || (@USER.ad://ext/Department == "IT")))</RuleItem>
		    </Rule>
        </Rules>
        <Policies>            
            <Policy>
		  	    <Name>PET-AccessPolicy</Name>
                <Rules>
                    <Rule>PET-AccessRule</Rule>
                </Rules>
		    </Policy>
            <Policy>
		  	    <Name>CountryCodeEquals156Policy</Name>
                <Rules>
                    <Rule>CountryCodeEquals156Rule</Rule>
                </Rules>
		    </Policy>

            <Policy>
		  	    <Name>CountryCodeNotEquals156Policy</Name>
                <Rules>
                    <Rule>CountryCodeNotEquals156Rule</Rule>
                </Rules>
		    </Policy>

            <Policy>
		  	    <Name>CountryCodeLessThan392Policy</Name>
                <Rules>
                    <Rule>CountryCodeLessThan392Rule</Rule>
                </Rules>
		    </Policy>

            <Policy>
		  	    <Name>CountryCodeLessThanOrEquals392Policy</Name>
                <Rules>
                    <Rule>CountryCodeLessThanOrEquals392Rule</Rule>
                </Rules>
		    </Policy>

            <Policy>
		  	    <Name>CountryCodeGreaterThan392Policy</Name>
                <Rules>
                    <Rule>CountryCodeGreaterThan392Rule</Rule>
                </Rules>
		    </Policy>

            <Policy>
		  	    <Name>CountryCodeGreaterThanOrEquals392Policy</Name>
                <Rules>
                    <Rule>CountryCodeGreaterThanOrEquals392Rule</Rule>
                </Rules>
		    </Policy>
            <Policy>
		  	    <Name>CountryCodeAnyOf156Or840Policy</Name>
                <Rules>
                    <Rule>CountryCodeAnyOf156Or840Rule</Rule>
                </Rules>
		    </Policy>
            <Policy>
		  	    <Name>CountryCodeNotAnyOf156Or840Policy</Name>
                <Rules>
                    <Rule>CountryCodeNotAnyOf156Or840Rule</Rule>
                </Rules>
		    </Policy>
            <Policy>
		  	    <Name>CountryCodeEquals156AndITDepartmentPolicy</Name>
                <Rules>
                    <Rule>CountryCodeEquals156AndITDepartmentRule</Rule>
                </Rules>
		    </Policy>
            <Policy>
		  	    <Name>CountryCodeEquals156OrITDepartmentPolicy</Name>
                <Rules>
                    <Rule>CountryCodeEquals156OrITDepartmentRule</Rule>
                </Rules>
		    </Policy>
        </Policies>	
    </LocalRealm>

    <TrustRealm>
		<DomainName>KERB.COM</DomainName>			
		<DomainAdministrator>
			<Username>administrator</Username>
			<Password>Password01!</Password>
		</DomainAdministrator>   
        <Trust>
            <TrustedRealmName>Contoso.com</TrustedRealmName>
            <TrustedRealmAdmin>administrator</TrustedRealmAdmin>
            <TrustedRealmAdminPwd>Password01!</TrustedRealmAdminPwd>
        </Trust>     
        <DC>
            <Name>DC02</Name>
            <IP>192.168.0.10</IP>
            <Username>kerb\administrator</Username>    
            <Password>Password01!</Password>
        </DC>            
        <FileServers>
            <FileServer>
                <Name>AP01</Name>
                <IP>192.168.0.11</IP>
                <admin>contoso\administrator</admin>    
                <adminPassword>Password01!</adminPassword>
                <Shares>
                    <SharesRootPath>c:\</SharesRootPath>                       
                        <Share>
                        <Name>share</Name>
                        <Policy>Crosscompany_AccessPolicy</Policy>
                    </Share>                         
                </Shares>
            </FileServer>
        </FileServers> 
        <ClaimTypes>           
            <ClaimType>
			    <DisplayName>Company</DisplayName>
                <Values>
                <Value>Contoso</Value>
                <Value>Kerb</Value>
                </Values>
		    </ClaimType>            
        </ClaimTypes>        	 
        <Rules>		
            <Rule>
		  	    <Name>Crosscompany_AccessRule</Name>
                <ResourceCondition></ResourceCondition>
                <RuleItem>(XA;;FA;;;AU;(@USER.ad://ext/Company == "contoso"))</RuleItem>
		    </Rule>    		
        </Rules>
        <Policies>	
            <Policy>
		  	    <Name>Crosscompany_AccessPolicy</Name>
                <Rules>
                    <Rule>Crosscompany_AccessRule</Rule>
                </Rules>
		    </Policy>
        </Policies>	
        <ClaimTransformPolicies>
            <ClaimTransformPolicy>		
                <Name>DenyAllExceptCompanyPolicy</Name>
                <Description>Claims transformation policy to deny all except company</Description>
                <DenyAllExcept>Company</DenyAllExcept>
                <Server>Kerb.com</Server>
            </ClaimTransformPolicy>		
        </ClaimTransformPolicies>		
	</TrustRealm>
</Parameters>