<div class="text-left">
    <h2>Gradient based Structural SIMilarity</h2>
    <div>
        <p>
        <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?tp=&arnumber=4107183">Gradient based Structural SIMilarity</a>
             (G-SSIM) leverages the assumption that the edge information as the most important image structure information. It is
             a supplement for SSIM because SSIM is found failed in measuring badly blurred images. It makes sense because many
             researchers' studying results find that human eye is very sensitive to the edge and contour information of an image,
             that is, the edge and contour information may be the most important information of an image's structure for human
             to 'capture' the scene. The detailed information you can refer to <a href="#ref">here</a> or this
             <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?tp=&arnumber=4107183">paper</a> directly.
        </p>
    </div>
</div>
