@model IEnumerable<ICodecParam>

<div class="progquant-array-param" style="display: inline-block; margin-right: 12px;">
    <label style="float: left; padding-top: 5px; padding-bottom: 5px; padding-right: 12px;">Progressive Quantizations: </label>

    <div style="float: left">
        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#progquant-modal">
            Change Settings
        </button>
    </div>

</div>
