<!-- Modal dialog for output as input button -->
<div class="modal fade prog-output-as-input-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="quant-modal-label">Output As Input</h4>
            </div>
            <div class="modal-body text-left">
                <h4>How many layers of output will you use as the input of RFX Progressive Decoder?</h4>
                <div class="prog-layer-radio">
                </div>
            </div>
            <div class="modal-footer" style="margin-top: -20px">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary dlg-btn-prog-out-as-in">OK</button>
            </div>
        </div>
    </div>
</div>
