@model IEnumerable<ICodecParam>

<div class="quant-array-param" style="display: inline-block; margin-right: 12px;">
    <label style="float: left; padding-top: 5px; padding-bottom: 5px; padding-right: 5px;">Quantization Factors: </label>

    <div style="float: left">
        <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#quant-modal">
            Change Settings
        </button>

    </div>
</div>


