@model IEnumerable<ICodecParam>

@{
    // if an EntropyAlgorithm instance is not found, an exception will be thrown 
    var diffing = (UseDifferenceTile)Model.First(param => param is UseDifferenceTile);
}

<div style="display: inline-block; margin-right: 12px;">
    <div class="input-group">
        <label>SubBandDiffing</label>
        <input class="use-difference-tile" type="checkbox" @(diffing.Enabled ? @Html.Raw("checked=\"checked\"") : @Html.Raw(""))/>
    </div>
</div>
