@{
    ViewBag.Title = "_UseDataFormatOut";
}

<div style="display: inline-block; margin-right: 12px;">
    <label style="float: left; padding-top: 5px; padding-bottom: 5px; padding-right: 5px;">Data Format: </label>
    <div style="float: left">
        <select class="data-format-selector form-control input-sm">
            <option value="Integer" selected="selected">Integer</option>
            <option value="11.5">11.5 fixed-point integers</option>
            <option value="12.4">12.4 fixed-point integers</option>
        </select>
        <input class="data-format-previous" type="hidden" name="dataformat" value="Integer" />
    </div>
</div>
