@{
    ViewBag.Title = "_UseDecOrHex";
}

<div style="display: inline-block; margin-right: 12px;">
    <label style="float: left; padding-top: 5px; padding-bottom: 5px; padding-right: 5px;">Data Format: </label>
    <div style="float: left">
        <select class="dec-hex-selector form-control input-sm">
            <option value="dec" selected="selected">DEC</option>
            <option value="hex">HEX</option>
        </select>
    </div>
</div>
