<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="WIN8_TD_DIR">
            <Directory Id="dir583BBE8EAD1274B16059EDF4ED3D406B" Name="MS-ADA2">
                <Component Id="cmp941EF17E2C2D61B1ECB82479F0B6C809" Guid="{A2D9A3DA-D834-401A-B53C-738F2E6E436D}">
                    <File Id="fil226CCFB58F953B24F48C28AB3772C643" KeyPath="yes" Source="!(wix.WIN8_TD_DIR)\MS-ADA2\f8f54b23-f7ba-4824-b056-f201c958f670.xml" />
                </Component>
            </Directory>
            <Directory Id="dirD2671D0CAF1A1C9496D081D4633D4169" Name="MS-ADLS">
                <Component Id="cmp25C181F54666A01D7B0B21C9549E9B03" Guid="{A3C1A6CA-67DA-4655-B2BF-6D8F051380A0}">
                    <File Id="fil1148DF550839C724E509B89AA848F26A" KeyPath="yes" Source="!(wix.WIN8_TD_DIR)\MS-ADLS\1152a281-8525-4849-ae31-c7b3bb53bba4.xml" />
                </Component>
            </Directory>
            <Directory Id="dir6E7BDDBA929DB16199E7E331B767D2EF" Name="MS-ADSC">
                <Component Id="cmpBB1D09FAA7FF5BC10571F634A6F95D68" Guid="{94E2C78E-37B2-4E5A-A5D5-9C8FD5E763B3}">
                    <File Id="fil3F436385C05C265442457B8F3C9BF9E9" KeyPath="yes" Source="!(wix.WIN8_TD_DIR)\MS-ADSC\041c6068-c710-4c74-968f-3040e4208701.xml" />
                </Component>
                <Component Id="cmp2AACB6E60620845AA59937273897B232" Guid="{A5FBAA77-979A-40BF-ABF6-A3B3C71DA422}">
                    <File Id="fil32F864A5B9648ACD9B8BBF23B0EEB135" KeyPath="yes" Source="!(wix.WIN8_TD_DIR)\MS-ADSC\719c0035-2aa4-4ca6-b763-41a758bd2410.xml" />
                </Component>
                <Component Id="cmp97B079267E77F932E3C2AC38709290E7" Guid="{00B51B31-1AFA-4093-9D23-B745F1E96D89}">
                    <File Id="fil01910458A4CA11552723EE0FC21CCE14" KeyPath="yes" Source="!(wix.WIN8_TD_DIR)\MS-ADSC\a84ea668-584c-4ebe-a78f-e764fee56917.xml" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="WIN8_TD_FILES">
            <ComponentRef Id="cmp941EF17E2C2D61B1ECB82479F0B6C809" />
            <ComponentRef Id="cmp25C181F54666A01D7B0B21C9549E9B03" />
            <ComponentRef Id="cmpBB1D09FAA7FF5BC10571F634A6F95D68" />
            <ComponentRef Id="cmp2AACB6E60620845AA59937273897B232" />
            <ComponentRef Id="cmp97B079267E77F932E3C2AC38709290E7" />
        </ComponentGroup>
    </Fragment>
</Wix>