<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="WIN8_TD_DIR">
            <Directory Id="dir583BBE8EAD1274B16059EDF4ED3D406B" Name="MS-ADA2">
                <Component Id="cmp941EF17E2C2D61B1ECB82479F0B6C809" Guid="{9E1F679A-580A-4D80-8CD0-6A87EF6A253B}">
                    <File Id="fil226CCFB58F953B24F48C28AB3772C643" KeyPath="yes" Source="!(wix.WIN8_TD_DIR)\MS-ADA2\f8f54b23-f7ba-4824-b056-f201c958f670.xml" />
                </Component>
            </Directory>
            <Directory Id="dirD2671D0CAF1A1C9496D081D4633D4169" Name="MS-ADLS">
                <Component Id="cmp25C181F54666A01D7B0B21C9549E9B03" Guid="{4926C0A0-F5FC-48C8-9FE2-17ADA1CE425E}">
                    <File Id="fil1148DF550839C724E509B89AA848F26A" KeyPath="yes" Source="!(wix.WIN8_TD_DIR)\MS-ADLS\1152a281-8525-4849-ae31-c7b3bb53bba4.xml" />
                </Component>
            </Directory>
            <Directory Id="dir6E7BDDBA929DB16199E7E331B767D2EF" Name="MS-ADSC">
                <Component Id="cmpBB1D09FAA7FF5BC10571F634A6F95D68" Guid="{5F22B5D8-6177-47C0-A194-BF662EA44D98}">
                    <File Id="fil3F436385C05C265442457B8F3C9BF9E9" KeyPath="yes" Source="!(wix.WIN8_TD_DIR)\MS-ADSC\041c6068-c710-4c74-968f-3040e4208701.xml" />
                </Component>
                <Component Id="cmp2AACB6E60620845AA59937273897B232" Guid="{21C9DBA9-B42A-43C2-80B5-9F1835DCED79}">
                    <File Id="fil32F864A5B9648ACD9B8BBF23B0EEB135" KeyPath="yes" Source="!(wix.WIN8_TD_DIR)\MS-ADSC\719c0035-2aa4-4ca6-b763-41a758bd2410.xml" />
                </Component>
                <Component Id="cmp97B079267E77F932E3C2AC38709290E7" Guid="{FFC3B747-0831-4C78-94C2-D9C79D3BB388}">
                    <File Id="fil01910458A4CA11552723EE0FC21CCE14" KeyPath="yes" Source="!(wix.WIN8_TD_DIR)\MS-ADSC\a84ea668-584c-4ebe-a78f-e764fee56917.xml" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="WIN8_TD_FILES">
            <ComponentRef Id="cmp941EF17E2C2D61B1ECB82479F0B6C809" />
            <ComponentRef Id="cmp25C181F54666A01D7B0B21C9549E9B03" />
            <ComponentRef Id="cmpBB1D09FAA7FF5BC10571F634A6F95D68" />
            <ComponentRef Id="cmp2AACB6E60620845AA59937273897B232" />
            <ComponentRef Id="cmp97B079267E77F932E3C2AC38709290E7" />
        </ComponentGroup>
    </Fragment>
</Wix>