<?xml version="1.0" encoding="UTF-8"?>

<?define SYMBOLS_DIR=$(env.TestSuiteRoot)\drop\TestSuites\RDP\Client\Bin?>
<?define PROTOSDK_DROP_DIR=$(env.TestSuiteRoot)\drop\ProtoSDK\Bin?>
<?define TESTSUITE_SRC_DIR=$(env.TestSuiteRoot)\TestSuites\RDP\Client?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <!-- Files to be installed to test suite. -->
    <!-- Source code and files in drop folder are automatically installed. -->
    <ComponentGroup Id="TESTSUITE_MISC_FILES">
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk.dll" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_Security_CryptoLib.dll" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_Messages.dll" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpbcgr.dll" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_Asn1Base.dll"/>
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpedyc.dll" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpeudp.dll" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpemt.dll" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpei.dll" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpedisp.dll" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpegfx.dll" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpegt.dll" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpeusb.dll" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpevor.dll" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdprfx.dll" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpefs.dll" />      
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_Security_Sspi.dll" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_Transport.dll" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_Asn1Base.pdb"/>
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk.pdb" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_Security_CryptoLib.pdb" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_Messages.pdb" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpbcgr.pdb" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpedyc.pdb" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpeudp.pdb" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpemt.pdb" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpei.pdb" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpedisp.pdb" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpegfx.pdb" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpegt.pdb" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpeusb.pdb" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpevor.pdb" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdprfx.pdb" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpefs.pdb" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_Security_Sspi.pdb" />
      <ComponentRef Id="Microsoft_Protocols_TestTools_StackSdk_Transport.pdb" />
      <ComponentRef Id="RDP_ClientAdapter.pdb" /> 
      <ComponentRef Id="RDP_ClientTestSuite.pdb" />
    </ComponentGroup>


    <!-- Files to be installed to SUT. -->
    <!-- Scripts in drop folder are automatically installed. -->
    <ComponentGroup Id="TESTSUITE_SUT_FILES">
     
    </ComponentGroup>


    <!-- Files to be installed to domain. -->
    <!-- Scripts in drop folder are automatically installed. -->
    <ComponentGroup Id="TESTSUITE_DOMAIN_FILES">
      <!--
      <ComponentRef Id="FILENAME"/>
      -->
    </ComponentGroup>

    <DirectoryRef Id="TESTSUITE_BIN_DIR">
      <Component Id="Microsoft_Protocols_TestTools_StackSdk.dll" Guid="{AB5E7ABA-D296-4522-B076-FFFE3BB1BE08}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk.dll"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.dll" />
      </Component>

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_Security_CryptoLib.dll" Guid="{A4143D23-D77A-4085-9AA9-6FE248F39899}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_Security_CryptoLib.dll"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.Security.CryptoLib.dll" />
      </Component>

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_Messages.dll" Guid="{ADCDBA45-85BE-4E2D-B0A5-F78A98E133D9}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_Messages.dll"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.Messages.dll" />
      </Component>

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpedyc.dll" Guid="{178BCA68-26FD-427C-AF68-C7E89F6923FE}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpedyc.dll"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpedyc.dll" />
      </Component>

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpbcgr.dll" Guid="{A2E7A451-0903-48AB-98B6-0F0BF9B02F57}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpbcgr.dll"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpbcgr.dll" />
      </Component>

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_Asn1Base.dll" Guid="{069FEC48-6689-4C04-9B59-71ED5AB33281}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_Asn1Base.dll" Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.Asn1Base.dll" />
      </Component>

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpeudp.dll" Guid="{ED518E6C-0827-4B6E-8B49-B4383EC427AE}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpeudp.dll"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpeudp.dll" />
      </Component>

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpemt.dll" Guid="{C4541D21-511B-45F4-AEF5-50A6C0D051BC}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpemt.dll"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpemt.dll" />
      </Component>

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpei.dll" Guid="{04C31FCC-1E3C-4B23-B318-EFB79BFEA249}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpei.dll"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpei.dll" />
      </Component>

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpedisp.dll" Guid="{26D8FBC6-E11B-4E91-BA3E-FDB9BAF856B4}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpedisp.dll"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpedisp.dll" />
      </Component>
      
      <Component Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpegfx.dll" Guid="{934DAC42-B15C-43CE-BD51-01BFEB250A24}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpegfx.dll"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpegfx.dll" />
      </Component>
      
      <Component Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpegt.dll" Guid="{A7F87D7D-71F1-4112-B004-0BC242562C6B}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpegt.dll"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpegt.dll" />
      </Component>
      
      <Component Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpeusb.dll" Guid="{BAE76B6C-DC60-4EDF-BA99-92D7BDD547CB}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpeusb.dll"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpeusb.dll" />
      </Component>
      
      <Component Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpevor.dll" Guid="{87FFEE61-DC11-43A6-BE5C-602A81FCEEC3}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpevor.dll"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpevor.dll" />
      </Component>
      
      <Component Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdprfx.dll" Guid="{C0700484-8C00-4F55-9B9E-0738151AEC3E}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdprfx.dll"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdprfx.dll" />
      </Component>

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpefs.dll" Guid="{2B347032-4901-477D-B343-5D601C9A2883}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpefs.dll"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpefs.dll" />
      </Component>	  

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_Security_Sspi.dll" Guid="{A4DCD01B-138F-4708-9B57-EFEDBEE21EDF}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_Security_Sspi.dll"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.Security.Sspi.dll" />
      </Component>

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_Transport.dll" Guid="{A2DF0DB7-0CF8-4814-866F-3AB37358A7A3}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_Transport.dll"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.Transport.dll" />
      </Component>


      <Component Id="Microsoft_Protocols_TestTools_StackSdk.pdb" Guid="{5040C467-5003-4B7E-8D48-91917EEBED05}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk.pdb"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.pdb" />
      </Component>

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_Security_CryptoLib.pdb" Guid="{546963B0-4B56-4BEB-8E2A-9A632CB35515}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_Security_CryptoLib.pdb"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.Security.CryptoLib.pdb" />
      </Component>

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_Messages.pdb" Guid="{2DCF69AF-BB42-4C45-83F0-17439DCFA9C8}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_Messages.pdb"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.Messages.pdb" />
      </Component>

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpedyc.pdb" Guid="{8BDCDBC9-9F10-4E21-93EB-3ED233C8D60A}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpedyc.pdb"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpedyc.pdb" />
      </Component>

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpbcgr.pdb" Guid="{3F7C7B55-CEFD-4422-AC9A-5C456076BF30}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpbcgr.pdb"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpbcgr.pdb" />
      </Component>

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_Asn1Base.pdb" Guid="{9D2EB663-AC8E-4DC1-96EA-85B77ABD00B9}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_Asn1Base.pdb" Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.Asn1Base.pdb" />
      </Component>
      

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpeudp.pdb" Guid="{7D31DE43-60DA-49FA-B7C8-5379BF05C371}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpeudp.pdb"
            Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpeudp.pdb" />
      </Component>

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpemt.pdb" Guid="{D386B5ED-95A0-4E00-B165-3688C6FD7E42}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpemt.pdb"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpemt.pdb" />
      </Component>

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpei.pdb" Guid="{D6AADED4-879A-4AEB-BAA6-5DBAE2A53230}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpei.pdb"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpei.pdb" />
      </Component>

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpedisp.pdb" Guid="{ABBFABF4-FB87-4FB1-B339-896D9B78043E}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpedisp.pdb"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpedisp.pdb" />
      </Component>

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpegfx.pdb" Guid="{E6993684-3AC2-4732-8434-FA688C088620}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpegfx.pdb"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpegfx.pdb" />
      </Component>

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpegt.pdb" Guid="{3019701E-FAAA-428F-BFBF-BBD5C7F83C21}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpegt.pdb"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpegt.pdb" />
      </Component>

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpeusb.pdb" Guid="{9A448E8E-D820-44C3-997B-4C764E148B7F}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpeusb.pdb"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpeusb.pdb" />
      </Component>

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpevor.pdb" Guid="{7903975D-8ACB-4150-BB9D-06B3D600507F}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpevor.pdb"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpevor.pdb" />
      </Component>

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdprfx.pdb" Guid="{4A2BCD69-677F-422C-A791-EBD2E7134140}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdprfx.pdb"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdprfx.pdb" />
      </Component>
  
      <Component Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpefs.pdb" Guid="{8E717DB7-E0C1-40E4-A9A9-6D6D4AA47701}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_RemoteDesktop_Rdpefs.pdb"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpefs.pdb" />
      </Component>
      
      <Component Id="Microsoft_Protocols_TestTools_StackSdk_Security_Sspi.pdb" Guid="{73988523-325C-4893-B707-4FE5427171CC}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_Security_Sspi.pdb"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.Security.Sspi.pdb" />
      </Component>

      <Component Id="Microsoft_Protocols_TestTools_StackSdk_Transport.pdb" Guid="{39CF96E4-EA7E-45B1-86D4-C669BFB3C6BE}">
        <File Id="Microsoft_Protocols_TestTools_StackSdk_Transport.pdb"
              Source="$(var.PROTOSDK_DROP_DIR)\Microsoft.Protocols.TestTools.StackSdk.Transport.pdb" />
      </Component>

      <Component Id="RDP_ClientAdapter.pdb" Guid="{7F894AFB-91E8-4872-99DD-67EA52095806}">
        <File Id="RDP_ClientAdapter.pdb"
              Source="$(var.SYMBOLS_DIR)\RDP_ClientAdapter.pdb" />
      </Component>

      <Component Id="RDP_ClientTestSuite.pdb" Guid="{740F77DD-CD0A-427C-A3F9-D3674A622CF8}">
        <File Id="RDP_ClientTestSuite.pdb"
              Source="$(var.SYMBOLS_DIR)\RDP_ClientTestSuite.pdb" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="TESTSUITE_DATA_DIR">
    </DirectoryRef>
  </Fragment>
</Wix>