<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GetSTSConfigurationResponseFile" value="C:\temp\configresponse.txt"/>
    <add key="GetStoreVersionResponseFile" value="C:\temp\storeversion.txt"/>
    <add key="GetStoreEntryResponseFile" value="C:\temp\storeentry*.txt"/>
  </appSettings>
</configuration>