<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TESTSUITE_COMMON_SCRIPTS_DIR">
            <Component Id="cmp69B8870C3FB9A1D97A38D75E62CA08E1" Guid="{05DB1820-A0C4-4779-94D7-403FADB6704E}">
                <File Id="fil14B7992D7A9AB986631B635F15810A47" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\checkMMA.cmd" />
            </Component>
            <Component Id="cmpCAC45FB37CF6B079271C84DA44F1CF47" Guid="{C0EC0BA8-A788-438C-83E3-DE21CEBD5D61}">
                <File Id="fil3C5F5AB8459494F1B1578F0CEFD4A058" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\checkNuGet.cmd" />
            </Component>
            <Component Id="cmpCD445738F31060DF38B9CDADD6E0F3BA" Guid="{21944B9D-93EC-45DA-BAF6-6B635DDDE10E}">
                <File Id="filF70E9BB72D57B76BEC1E74700477D17B" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\checkSpecExplorer.cmd" />
            </Component>
            <Component Id="cmp2A5D0483EAA4C53D7C40CCDFDC73AD21" Guid="{D9AFC7C2-E6A3-4A1D-A57C-D7FDC173C041}">
                <File Id="filD4B03B313179237B56FDA3700F0813B9" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\checkWix.cmd" />
            </Component>
            <Component Id="cmp7B238616C56646A0F9546616E965B919" Guid="{27D0CAD4-F197-4DA7-9D06-9C391C502639}">
                <File Id="fil72188DE67D45A53FA4924AC4E59516F1" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\setBuildTool.cmd" />
            </Component>
            <Component Id="cmp627FF0D998CF77365FC3932EA0118E8E" Guid="{94D90F03-3131-43A6-8B82-4E378FC30BA4}">
                <File Id="fil3FCF45AC35BF1CCAE622BC35C7908EB6" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\setMSTestPath.cmd" />
            </Component>
            <Component Id="cmp5269BAE4BDDC53742F5DFA484942FFE8" Guid="{9065FECA-8703-4212-8215-AC3A4B29508B}">
                <File Id="fil073538DF550758965AB03C54F02B7DF7" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\setPtfVer.cmd" />
            </Component>
            <Component Id="cmp7053F11E12D1D14D785BA6981AEA189C" Guid="{E72C3ECF-2D5E-4D58-9972-C8BFF2383DB5}">
                <File Id="filFE878492F09201EA537F46CA49DB7805" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\setTestSuiteVer.cmd" />
            </Component>
            <Component Id="cmp7E33326DFB8E7F0E9AF4A2C582451505" Guid="{EAE8480C-A9D2-4059-9320-10C51B9BF3ED}">
                <File Id="fil31B5C24CAE95FC990E41BA1D88878110" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\setVsPath.cmd" />
            </Component>
            <Component Id="cmp7010196E2A1AD764426B15C3E9C807E0" Guid="{338854D6-11AA-4AA8-BB49-07797F4DB166}">
                <File Id="fil90096FBCBF1A01C7A887696E0BAD925D" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\setVsTestPath.cmd" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="COMMON_BATCH_FILES">
            <ComponentRef Id="cmp69B8870C3FB9A1D97A38D75E62CA08E1" />
            <ComponentRef Id="cmpCAC45FB37CF6B079271C84DA44F1CF47" />
            <ComponentRef Id="cmpCD445738F31060DF38B9CDADD6E0F3BA" />
            <ComponentRef Id="cmp2A5D0483EAA4C53D7C40CCDFDC73AD21" />
            <ComponentRef Id="cmp7B238616C56646A0F9546616E965B919" />
            <ComponentRef Id="cmp627FF0D998CF77365FC3932EA0118E8E" />
            <ComponentRef Id="cmp5269BAE4BDDC53742F5DFA484942FFE8" />
            <ComponentRef Id="cmp7053F11E12D1D14D785BA6981AEA189C" />
            <ComponentRef Id="cmp7E33326DFB8E7F0E9AF4A2C582451505" />
            <ComponentRef Id="cmp7010196E2A1AD764426B15C3E9C807E0" />
        </ComponentGroup>
    </Fragment>
</Wix>