<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="SCRIPT_FILES_DIR">
            <Component Id="cmp5513C510A955B15D1B55A702922B61DE" Guid="{07CB0399-87E3-4CBC-A1BD-C272623DFDED}">
                <File Id="fil919478A4C96B5D71AD69700B5E6047F5" KeyPath="yes" Source="!(wix.SCRIPT_FILES_DIR)\ADFSLib.psm1" />
            </Component>
            <Component Id="cmp5CB1C1B292C92C195AB367182B0A2972" Guid="{05C6FC2E-8856-402F-90BF-14FF303D337E}">
                <File Id="filC4BC47EB3714E0233DFF9F5C7C508C4B" KeyPath="yes" Source="!(wix.SCRIPT_FILES_DIR)\CleanCert.ps1" />
            </Component>
            <Component Id="cmp7B05FC0738C9551241641DD40C4C1DA0" Guid="{1ABC86D0-E448-48B8-BD65-9DD1A43C2F05}">
                <File Id="fil2714CCB8D31B5372912DE1D64D15DD9F" KeyPath="yes" Source="!(wix.SCRIPT_FILES_DIR)\Config-DCCA.ps1" />
            </Component>
            <Component Id="cmpFDEDD3B1505352131370063262C6063E" Guid="{553309ED-BC42-486F-8659-61DE70B7EBB2}">
                <File Id="fil3E603F0F5B29B37AB9A0C7C7098CF6EE" KeyPath="yes" Source="!(wix.SCRIPT_FILES_DIR)\Config-Driver.ps1" />
            </Component>
            <Component Id="cmp2FFD2BC2CDAFFE1F42E310F08852BE28" Guid="{78460DEF-1A3B-4D82-B6D5-BFD01CB2D65E}">
                <File Id="filDF02F8BC7E229DE22F9C907DF87EA259" KeyPath="yes" Source="!(wix.SCRIPT_FILES_DIR)\Config-PROXY.PS1" />
            </Component>
            <Component Id="cmpE7B0377CF54AF1D434C17F62DFADA625" Guid="{D0FC1C4E-C17E-4F85-AF89-634C579D5DB4}">
                <File Id="fil4275015C846F1B15527B51221FAA077B" KeyPath="yes" Source="!(wix.SCRIPT_FILES_DIR)\Execute-ProtocolTest.ps1" />
            </Component>
            <Component Id="cmpD924771251D141AD3C04F1799428C1F6" Guid="{E19DE248-00F6-48C5-9B57-53DB6CBB9DA2}">
                <File Id="filECDBC8F24938817EE8C750B05BB54B08" KeyPath="yes" Source="!(wix.SCRIPT_FILES_DIR)\ExportCert.ps1" />
            </Component>
            <Component Id="cmpB05CE500A21E8A9080327989F0776E21" Guid="{7FD5CE8D-4F1B-4C8F-97CF-0F365BB52EBF}">
                <File Id="fil870CACC0D26502CBCEE7000174D67B6A" KeyPath="yes" Source="!(wix.SCRIPT_FILES_DIR)\MS-ADFSPIP.XML" />
            </Component>
            <Component Id="cmp7AF27F3864A76F3C175679069D29C329" Guid="{EDEBDEBD-2C37-426A-9A56-B1668D18DC1D}">
                <File Id="filFD20F8ACB2AA38F476FF4AC69B178025" KeyPath="yes" Source="!(wix.SCRIPT_FILES_DIR)\RemoteExecutionListener.ps1" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SCRIPT_FILES">
            <ComponentRef Id="cmp5513C510A955B15D1B55A702922B61DE" />
            <ComponentRef Id="cmp5CB1C1B292C92C195AB367182B0A2972" />
            <ComponentRef Id="cmp7B05FC0738C9551241641DD40C4C1DA0" />
            <ComponentRef Id="cmpFDEDD3B1505352131370063262C6063E" />
            <ComponentRef Id="cmp2FFD2BC2CDAFFE1F42E310F08852BE28" />
            <ComponentRef Id="cmpE7B0377CF54AF1D434C17F62DFADA625" />
            <ComponentRef Id="cmpD924771251D141AD3C04F1799428C1F6" />
            <ComponentRef Id="cmpB05CE500A21E8A9080327989F0776E21" />
            <ComponentRef Id="cmp7AF27F3864A76F3C175679069D29C329" />
        </ComponentGroup>
    </Fragment>
</Wix>