<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TESTSUITE_BATCH_DIR">
            <Component Id="cmp928C4D478DC5245D138DA3BF55F5FC4F" Guid="{64065767-6CC0-4A2F-BC18-B1A70284EF58}">
                <File Id="fil12FBB815162ED0643E445597869804F2" KeyPath="yes" Source="!(wix.TESTSUITE_BATCH_DIR)\Run2012R2TestCases.cmd" />
            </Component>
            <Component Id="cmp524A3D5B76F1DDD42C964F083F6CCAC3" Guid="{A406B2FD-8514-4AF7-A97C-0A32E6D120F0}">
                <File Id="fil7A0D52FB487F1579DF980A211EDC8F5A" KeyPath="yes" Source="!(wix.TESTSUITE_BATCH_DIR)\RunAllTestCases.cmd" />
            </Component>
            <Component Id="cmp8C608FCC6EDD2836B945045B1739D795" Guid="{750AA71B-E294-4527-903F-36142D507319}">
                <File Id="filC67B528B95CC16BE8F518DA5ECFD1FE2" KeyPath="yes" Source="!(wix.TESTSUITE_BATCH_DIR)\RunBVTTestCases.cmd" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="BATCH_FILES">
            <ComponentRef Id="cmp928C4D478DC5245D138DA3BF55F5FC4F" />
            <ComponentRef Id="cmp524A3D5B76F1DDD42C964F083F6CCAC3" />
            <ComponentRef Id="cmp8C608FCC6EDD2836B945045B1739D795" />
        </ComponentGroup>
    </Fragment>
</Wix>