<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TESTSUITE_BIN_DIR">
            <Component Id="cmpF5EEC661B016AF2C4D8F29E50137C6DF" Guid="{1F264C8E-F170-4EBD-A800-604A1F51EFAD}">
                <File Id="filC8CC66CBCD1A74B93A1C718E4BB5C022" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\ClientLocal.TestSettings" />
            </Component>
            <Component Id="cmpABCCEDFF2624AAD95078DCA6B6876624" Guid="{DF787F68-14D3-45FE-81C4-8E20D1877356}">
                <File Id="fil270E71B206DB504D7DA8C72C33909632" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\MetadataTemplate_2012.xml" />
            </Component>
            <Component Id="cmp2A8644B567500C39E1318A715A18F363" Guid="{EA6216BB-1EC1-451E-8103-78FA4539C2C5}">
                <File Id="fil3A16FB774643F912B206E229C0F191F4" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\MetadataTemplate_2016.xml" />
            </Component>
            <Component Id="cmp582AA23355EB0171DD58738ED987A71A" Guid="{01B8099D-BD01-4831-B328-E17F66B401C8}">
                <File Id="filE627CECDC1A8EDFC7232CE03529D77B8" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\MS-ADFSPIP_ClientAdapter.dll" />
            </Component>
            <Component Id="cmp4FC47FBA52A35EB8ECD3287283AEFE8A" Guid="{E8668114-CF0C-476B-B050-4A32CE2483F0}">
                <File Id="fil21A74B4E3711DA7AC2674A0B9247C785" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\MS-ADFSPIP_ClientAdapter.pdb" />
            </Component>
            <Component Id="cmpA7A6B1C4131BF6CF70EAFE592B99EAD1" Guid="{2A3C33B2-DF59-4080-8315-F37C4E735CBF}">
                <File Id="filD1223149F2A464309BAAC3F1E10BCD98" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\MS-ADFSPIP_ClientTestSuite.deployment.ptfconfig" />
            </Component>
            <Component Id="cmpB276EC7DF04FA2375C9903B23379C661" Guid="{3B06428A-990A-4196-AD8E-1452817256E9}">
                <File Id="filFAA4250ACDC0A3EA13BC687EB7D52580" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\MS-ADFSPIP_ClientTestSuite.dll" />
            </Component>
            <Component Id="cmp9E8D41E7B6BA7D56723D12EFBAD95870" Guid="{C33143B9-546D-46B5-8814-8842596E6B6A}">
                <File Id="fil90CCB0FF48E3028B4AF92973E781F8CD" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\MS-ADFSPIP_ClientTestSuite.pdb" />
            </Component>
            <Component Id="cmp859873DF276388D72615B7DFF2BB629C" Guid="{0747F362-5E9D-4A84-A498-9C02F9845884}">
                <File Id="fil7C25EA9690EEE725D3492EF40EC312A8" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\MS-ADFSPIP_ClientTestSuite.ptfconfig" />
            </Component>
            <Directory Id="dirF8E5A13C79BA4F9FFB5FEF42BF15BD8A" Name="Adapter">
                <Directory Id="dir4E5D0BD0449D32577D7DA299173E3DA8" Name="SUTControlAdapter">
                    <Component Id="cmp36F3D2F2222AAF09D849505ABE1D3A7A" Guid="{5B3200C3-4C3B-44B2-826A-2B26EC2E6E47}">
                        <File Id="filF62F94983AC54FAC082239004EE9AD41" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\Adapter\SUTControlAdapter\IsApplicationProxyConfigured.ps1" />
                    </Component>
                    <Component Id="cmpBEA8D781A321CC9B7BDAE327F3A621D5" Guid="{248E1986-2CE0-4C80-941A-018B138CFDB3}">
                        <File Id="fil36896701471069227A035AC97570015C" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\Adapter\SUTControlAdapter\TriggerBrowserToAccessAp.ps1" />
                    </Component>
                    <Component Id="cmp9A1AFD273A3230DAC7B539D52CA6DBF7" Guid="{B1CA5BDC-0C2F-447F-92EB-6BFF149B0B89}">
                        <File Id="filCAA475CEA4FE2F4CF87DFFA5581B1B0E" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\Adapter\SUTControlAdapter\TriggerCleanCertificate.ps1" />
                    </Component>
                    <Component Id="cmpDE2B434A01B038E5C0547AAB39601EC8" Guid="{CF700817-90E1-4A36-A9C3-55108F6FFB5A}">
                        <File Id="filE4D866712775D44CF3E5BEA1E37A2930" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\Adapter\SUTControlAdapter\TriggerExportCertificate.ps1" />
                    </Component>
                    <Component Id="cmp45BACAC645B2252804740CE5A83AD04C" Guid="{94A9C6D5-6CB0-4B4C-85B5-F6AD8B8D98E9}">
                        <File Id="fil3349EF532ABB371A93174471E37B6C9C" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\Adapter\SUTControlAdapter\TriggerInstallApplicationProxy.ps1" />
                    </Component>
                    <Component Id="cmp20B8BC9D298798051AAD44DC05C7CAE9" Guid="{BF99011C-34FF-4024-9538-2689E0797BF1}">
                        <File Id="fil758E055B134A3A18D7F9A6AA37A28345" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\Adapter\SUTControlAdapter\TriggerProxyInstall.ps1" />
                    </Component>
                    <Component Id="cmpE0493F1E69236E5D72A5806DB8F1E155" Guid="{E1532F35-4DCA-4214-A276-1AB9AE708E09}">
                        <File Id="fil4317C206FB6B5EF76FDCCF60EB8E2714" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\Adapter\SUTControlAdapter\TriggerProxyUninstall.ps1" />
                    </Component>
                    <Component Id="cmp82D6D886C4743964946D67BD8E58369E" Guid="{C5658ECB-7839-46D6-BB8C-9D989D5454DF}">
                        <File Id="fil3149A9C7602A6A9E56EE84DD1D60FC4B" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\Adapter\SUTControlAdapter\TriggerPublishApplication.ps1" />
                    </Component>
                    <Component Id="cmpC91D446C12B757869BDE88A1F97C872F" Guid="{D029B367-8B75-4B1C-9629-A23F30B16491}">
                        <File Id="filBA7016FE1BFDF8564ABB3165553B8B47" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\Adapter\SUTControlAdapter\TriggerPublishNonClaimsApp.ps1" />
                    </Component>
                    <Component Id="cmp77392572EE039B830D39D8D91F807415" Guid="{7DED850A-8C16-4127-9B2C-38FCA420B8BC}">
                        <File Id="fil162B5261F03A0B16916B82F5FA3512A9" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\Adapter\SUTControlAdapter\TriggerRemoveApplication.ps1" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="dir76B80F1277EEB7C404739B493B466C18" Name="Certificates">
                <Component Id="cmpD71C6B2F8565949BD166E1EF169EC6C3" Guid="{B3E2599C-23F9-409C-A1FD-6B57F1BBB0BB}">
                    <File Id="filBDCA459AA6201CD4220D7711059A0B92" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\Certificates\ADFS.PFX" />
                </Component>
                <Component Id="cmpC1FA22B8EA633CEBF1CA8D4165074427" Guid="{11ED0CD8-E2DA-4519-8A31-9894E5C70DAA}">
                    <File Id="filFDA6D4AC9488F0BBA195E45E331028E5" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\Certificates\CARoot.PFX" />
                </Component>
                <Component Id="cmp7ACB86DD2AB3746B18AAAFD061729BBD" Guid="{60D3F3FE-B7B3-494C-B79A-DEE2ADEC933B}">
                    <File Id="fil4F4214370C58A4C14C24C0008D733ACB" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\Certificates\CertInfo.txt" />
                </Component>
                <Component Id="cmpCA74D8692176B54474D93B50A45CDADC" Guid="{417EE0E4-980C-4E00-A3D7-8FBC3F2F6219}">
                    <File Id="fil5A5633D5E8181FDAE5117AF99D2BD1CF" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\Certificates\Client.PFX" />
                </Component>
                <Component Id="cmpBC65E358F2D19BFCC6276BAB9486D9C4" Guid="{DEC45567-5780-47D7-A1B6-A6739572BAA1}">
                    <File Id="fil692A60E17995D5C7B2D6F99850B08C6E" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\Certificates\Encrypt.PFX" />
                </Component>
                <Component Id="cmpE3C36640A7C62EC41F7EF2BC9A8E3375" Guid="{84E945A1-FFBC-4CAB-9EB6-693010427EA6}">
                    <File Id="filB44179FC308B83FADC3E9D0C3A61C72D" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\Certificates\Sign.PFX" />
                </Component>
                <Component Id="cmp3AEE2B9F0C26122421165B9A18F8F957" Guid="{25CE4453-1D63-4342-8DAF-92EEDDF5EC68}">
                    <File Id="fil229287DCC146B0D69362DF85AE2F6A84" KeyPath="yes" Source="!(wix.TESTSUITE_BIN_DIR)\Certificates\WebApp.PFX" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="BIN_FILES">
            <ComponentRef Id="cmpF5EEC661B016AF2C4D8F29E50137C6DF" />
            <ComponentRef Id="cmpABCCEDFF2624AAD95078DCA6B6876624" />
            <ComponentRef Id="cmp2A8644B567500C39E1318A715A18F363" />
            <ComponentRef Id="cmp582AA23355EB0171DD58738ED987A71A" />
            <ComponentRef Id="cmp4FC47FBA52A35EB8ECD3287283AEFE8A" />
            <ComponentRef Id="cmpA7A6B1C4131BF6CF70EAFE592B99EAD1" />
            <ComponentRef Id="cmpB276EC7DF04FA2375C9903B23379C661" />
            <ComponentRef Id="cmp9E8D41E7B6BA7D56723D12EFBAD95870" />
            <ComponentRef Id="cmp859873DF276388D72615B7DFF2BB629C" />
            <ComponentRef Id="cmp36F3D2F2222AAF09D849505ABE1D3A7A" />
            <ComponentRef Id="cmpBEA8D781A321CC9B7BDAE327F3A621D5" />
            <ComponentRef Id="cmp9A1AFD273A3230DAC7B539D52CA6DBF7" />
            <ComponentRef Id="cmpDE2B434A01B038E5C0547AAB39601EC8" />
            <ComponentRef Id="cmp45BACAC645B2252804740CE5A83AD04C" />
            <ComponentRef Id="cmp20B8BC9D298798051AAD44DC05C7CAE9" />
            <ComponentRef Id="cmpE0493F1E69236E5D72A5806DB8F1E155" />
            <ComponentRef Id="cmp82D6D886C4743964946D67BD8E58369E" />
            <ComponentRef Id="cmpC91D446C12B757869BDE88A1F97C872F" />
            <ComponentRef Id="cmp77392572EE039B830D39D8D91F807415" />
            <ComponentRef Id="cmpD71C6B2F8565949BD166E1EF169EC6C3" />
            <ComponentRef Id="cmpC1FA22B8EA633CEBF1CA8D4165074427" />
            <ComponentRef Id="cmp7ACB86DD2AB3746B18AAAFD061729BBD" />
            <ComponentRef Id="cmpCA74D8692176B54474D93B50A45CDADC" />
            <ComponentRef Id="cmpBC65E358F2D19BFCC6276BAB9486D9C4" />
            <ComponentRef Id="cmpE3C36640A7C62EC41F7EF2BC9A8E3375" />
            <ComponentRef Id="cmp3AEE2B9F0C26122421165B9A18F8F957" />
        </ComponentGroup>
    </Fragment>
</Wix>