<div class="text-left">
    <h2>Mean Squared Error (MSE)</h2>
    <div>
        <p>
            <a href="http://en.wikipedia.org/wiki/Mean_squared_error">Mean Squared Error</a> is the average squared difference between a
        reference image and a distorted image. It is computed pixel-by-pixel
        by adding up the squared differences of all the pixels and dividing
        by the total pixel count.
        </p>
        <p>
            For images A = {a<sub>1</sub> .. a<sub>M</sub>} and B = {b<sub>1</sub> .. b<sub>M</sub>},
        where M is the number of pixels:
        </p>
        <div class="text-center" style="padding: 5px;">
            <img src="~/Images/Resource/mse_eq.jpg" />
        </div>
    </div>
</div>
