<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TESTSUITE_COMMON_SCRIPTS_DIR">
            <Component Id="cmp69B8870C3FB9A1D97A38D75E62CA08E1" Guid="{F767D5B8-E164-48F7-9576-7D0A2395A401}">
                <File Id="fil14B7992D7A9AB986631B635F15810A47" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\checkMMA.cmd" />
            </Component>
            <Component Id="cmpCAC45FB37CF6B079271C84DA44F1CF47" Guid="{6718E1B4-27A1-4F47-940D-148C8E41DA64}">
                <File Id="fil3C5F5AB8459494F1B1578F0CEFD4A058" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\checkNuGet.cmd" />
            </Component>
            <Component Id="cmpCD445738F31060DF38B9CDADD6E0F3BA" Guid="{3E89BDA0-4A75-4518-9E49-31EBB09DB5E7}">
                <File Id="filF70E9BB72D57B76BEC1E74700477D17B" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\checkSpecExplorer.cmd" />
            </Component>
            <Component Id="cmp2A5D0483EAA4C53D7C40CCDFDC73AD21" Guid="{B5F32374-F9E1-4D97-8032-1102A241BA67}">
                <File Id="filD4B03B313179237B56FDA3700F0813B9" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\checkWix.cmd" />
            </Component>
            <Component Id="cmp7B238616C56646A0F9546616E965B919" Guid="{EC5079FD-0A29-4683-A1ED-B27EA38749F0}">
                <File Id="fil72188DE67D45A53FA4924AC4E59516F1" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\setBuildTool.cmd" />
            </Component>
            <Component Id="cmp627FF0D998CF77365FC3932EA0118E8E" Guid="{6E192037-93EA-42D3-BA74-7BD86BC16CCB}">
                <File Id="fil3FCF45AC35BF1CCAE622BC35C7908EB6" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\setMSTestPath.cmd" />
            </Component>
            <Component Id="cmp5269BAE4BDDC53742F5DFA484942FFE8" Guid="{9ED81B87-0834-48CD-983A-2C4FB7336EDB}">
                <File Id="fil073538DF550758965AB03C54F02B7DF7" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\setPtfVer.cmd" />
            </Component>
            <Component Id="cmp7053F11E12D1D14D785BA6981AEA189C" Guid="{69E19ABA-F3BE-4C86-8EB1-538D426C3DC6}">
                <File Id="filFE878492F09201EA537F46CA49DB7805" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\setTestSuiteVer.cmd" />
            </Component>
            <Component Id="cmp7E33326DFB8E7F0E9AF4A2C582451505" Guid="{4214FA04-F4E7-47A6-A2C5-1EE586E62111}">
                <File Id="fil31B5C24CAE95FC990E41BA1D88878110" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\setVsPath.cmd" />
            </Component>
            <Component Id="cmp7010196E2A1AD764426B15C3E9C807E0" Guid="{445D1128-AEDF-4965-8D29-856B4E119A9B}">
                <File Id="fil90096FBCBF1A01C7A887696E0BAD925D" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\setVsTestPath.cmd" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="COMMON_BATCH_FILES">
            <ComponentRef Id="cmp69B8870C3FB9A1D97A38D75E62CA08E1" />
            <ComponentRef Id="cmpCAC45FB37CF6B079271C84DA44F1CF47" />
            <ComponentRef Id="cmpCD445738F31060DF38B9CDADD6E0F3BA" />
            <ComponentRef Id="cmp2A5D0483EAA4C53D7C40CCDFDC73AD21" />
            <ComponentRef Id="cmp7B238616C56646A0F9546616E965B919" />
            <ComponentRef Id="cmp627FF0D998CF77365FC3932EA0118E8E" />
            <ComponentRef Id="cmp5269BAE4BDDC53742F5DFA484942FFE8" />
            <ComponentRef Id="cmp7053F11E12D1D14D785BA6981AEA189C" />
            <ComponentRef Id="cmp7E33326DFB8E7F0E9AF4A2C582451505" />
            <ComponentRef Id="cmp7010196E2A1AD764426B15C3E9C807E0" />
        </ComponentGroup>
    </Fragment>
</Wix>