<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TESTSUITE_COMMON_SCRIPTS_DIR">
            <Component Id="cmp69B8870C3FB9A1D97A38D75E62CA08E1" Guid="{84309C34-5E4D-4455-BF1F-89C51D53AE54}">
                <File Id="fil14B7992D7A9AB986631B635F15810A47" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\checkMMA.cmd" />
            </Component>
            <Component Id="cmpCAC45FB37CF6B079271C84DA44F1CF47" Guid="{D0ADC656-6059-4445-AD5B-E74DDB3C1BE1}">
                <File Id="fil3C5F5AB8459494F1B1578F0CEFD4A058" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\checkNuGet.cmd" />
            </Component>
            <Component Id="cmpCD445738F31060DF38B9CDADD6E0F3BA" Guid="{1E26687E-3F0F-43D6-B502-D7836123780F}">
                <File Id="filF70E9BB72D57B76BEC1E74700477D17B" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\checkSpecExplorer.cmd" />
            </Component>
            <Component Id="cmp2A5D0483EAA4C53D7C40CCDFDC73AD21" Guid="{2E52480E-5B24-4D26-8452-7814C3BB2C7F}">
                <File Id="filD4B03B313179237B56FDA3700F0813B9" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\checkWix.cmd" />
            </Component>
            <Component Id="cmp7B238616C56646A0F9546616E965B919" Guid="{F6E4A3B9-D78D-4F26-B63D-D2C6B393ACA7}">
                <File Id="fil72188DE67D45A53FA4924AC4E59516F1" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\setBuildTool.cmd" />
            </Component>
            <Component Id="cmp627FF0D998CF77365FC3932EA0118E8E" Guid="{C65CBCE6-F142-4B6D-9486-E0066EF8D0DD}">
                <File Id="fil3FCF45AC35BF1CCAE622BC35C7908EB6" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\setMSTestPath.cmd" />
            </Component>
            <Component Id="cmp5269BAE4BDDC53742F5DFA484942FFE8" Guid="{F65E87EE-90E4-4BBD-87D0-AAE7773EAEC6}">
                <File Id="fil073538DF550758965AB03C54F02B7DF7" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\setPtfVer.cmd" />
            </Component>
            <Component Id="cmp7053F11E12D1D14D785BA6981AEA189C" Guid="{01180A4B-885C-4AB8-A64A-1AF9FBEA6BBA}">
                <File Id="filFE878492F09201EA537F46CA49DB7805" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\setTestSuiteVer.cmd" />
            </Component>
            <Component Id="cmp7E33326DFB8E7F0E9AF4A2C582451505" Guid="{1E890495-C0AD-4AB8-B718-8343244D55C9}">
                <File Id="fil31B5C24CAE95FC990E41BA1D88878110" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\setVsPath.cmd" />
            </Component>
            <Component Id="cmp7010196E2A1AD764426B15C3E9C807E0" Guid="{65529F6C-7F26-46BE-90D1-E9CB6A95840F}">
                <File Id="fil90096FBCBF1A01C7A887696E0BAD925D" KeyPath="yes" Source="!(wix.TESTSUITE_COMMON_SCRIPTS_DIR)\setVsTestPath.cmd" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="COMMON_BATCH_FILES">
            <ComponentRef Id="cmp69B8870C3FB9A1D97A38D75E62CA08E1" />
            <ComponentRef Id="cmpCAC45FB37CF6B079271C84DA44F1CF47" />
            <ComponentRef Id="cmpCD445738F31060DF38B9CDADD6E0F3BA" />
            <ComponentRef Id="cmp2A5D0483EAA4C53D7C40CCDFDC73AD21" />
            <ComponentRef Id="cmp7B238616C56646A0F9546616E965B919" />
            <ComponentRef Id="cmp627FF0D998CF77365FC3932EA0118E8E" />
            <ComponentRef Id="cmp5269BAE4BDDC53742F5DFA484942FFE8" />
            <ComponentRef Id="cmp7053F11E12D1D14D785BA6981AEA189C" />
            <ComponentRef Id="cmp7E33326DFB8E7F0E9AF4A2C582451505" />
            <ComponentRef Id="cmp7010196E2A1AD764426B15C3E9C807E0" />
        </ComponentGroup>
    </Fragment>
</Wix>