<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="TESTSUITE_SCRIPTS_DIR">
            <Component Id="cmpE4B6C0DE0EC70953DF0F2FF10E3984A9" Guid="{079D3074-96DF-4F35-89DB-C36F5B54A4CB}">
                <File Id="fil9217305D3C79F8E5991F27B6D5CAA539" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\BindSSLCert.ps1" />
            </Component>
            <Component Id="cmpDC32C6E9B14A871FC81171043EF54BB7" Guid="{55D3DC5F-FBE3-46AD-8239-15D960E9B4CB}">
                <File Id="fil187688112ECB010117676491AA8E268E" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Check-ReturnValue.ps1" />
            </Component>
            <Component Id="cmp9D9222CF10DFFF772231289F1E815D36" Guid="{923865B0-AE72-4B7C-9400-62BDA9FC8F7A}">
                <File Id="fil3ADD7428486AAE30305E16AB018EDF55" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\ConfigContentServer.ps1" />
            </Component>
            <Component Id="cmpF8495C5CDC1C17C0563F5789098B5A36" Guid="{8FC16320-A5A8-412B-8B95-811C986F0078}">
                <File Id="filA678964666C240150AE0AF75C2E7F54F" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\ConfigHostedCacheServer.ps1" />
            </Component>
            <Component Id="cmpE167FF3D109365BD56DE033371DD4D64" Guid="{F2AF5D09-1BFA-4316-B9A2-47BF489C791A}">
                <File Id="filD0E3FC6D76B7F60B2806B79A66D02797" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\CreateRODC.ps1" />
            </Component>
            <Component Id="cmp1A96686C808C75A5D1C5A0B63CD19754" Guid="{5370265B-665E-4121-9270-D6932588A1D9}">
                <File Id="fil4C681DAF3F3681CFB1BFD2B322126591" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\DeployTestFile.ps1" />
            </Component>
            <Component Id="cmpAD25F206154D00B8414C70B966BF2405" Guid="{D30FEB90-E9D4-412D-BF91-E60E334CC947}">
                <File Id="filF0A6ECABBE3B2ABDBAB8D1E824DEA1E0" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Disable_Firewall.ps1" />
            </Component>
            <Component Id="cmp1427C53AB8AEA3A73B793667CF7A53A2" Guid="{11A8E0AD-0F4E-4AF4-871D-3407326B0250}">
                <File Id="fil8BA0B05017A547419A9992FF07319CC3" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\domainjoin.PS1" />
            </Component>
            <Component Id="cmpABFBE61EF047D527BB431F1B5D86A28D" Guid="{B3900F70-4B1E-4B89-8CA6-A77B50F05365}">
                <File Id="filD035E0A2AA015A595CA3FB5453A07440" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\GetVMNameByComputerName.ps1" />
            </Component>
            <Component Id="cmpA64F619D076C843F91C73BE53225D674" Guid="{4BBEA381-C439-44DD-8FFE-B2A67FFDA545}">
                <File Id="filE86CDDA296BCFC281416653CAEF893B1" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\GetVmParameters.ps1" />
            </Component>
            <Component Id="cmpFFC2DF5C805AC313E371B581DA83B0D1" Guid="{28F58973-EDE5-401E-A5A3-2C4E1F4609BA}">
                <File Id="fil2B6F8D17343ECD5B93134925AEDC3895" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\PromoteDomainController.ps1" />
            </Component>
            <Component Id="cmp32CA0625B7715155B2AAD2F8C993747B" Guid="{267BEC99-5179-43BC-8EC3-2EFFB27A263D}">
                <File Id="fil728BFDEEDF12315630F96967CD902BA1" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\PromoteRODC.ps1" />
            </Component>
            <Component Id="cmpF016E469E44910BA41827901C5B7B6EA" Guid="{942D1D1D-199C-4A72-AC3A-FB423561A672}">
                <File Id="filD998F03DA6367CF901063AA085B96246" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Protocol.xml" />
            </Component>
            <Component Id="cmp67DB43B57A45A24259255047584BE3DC" Guid="{AAA44043-BD0D-4CC3-A87A-467361F70CCB}">
                <File Id="fil7E519DA0E5FC24E1758663BE361BF816" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\RestartAndRun.ps1" />
            </Component>
            <Component Id="cmp0845C8CAFA19714371B4CF5B5A58A1B3" Guid="{03AC356F-DC99-4CC8-9A61-D6C01CB0B131}">
                <File Id="filA9BD7E5F3756E50D2755B98EC47827DC" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\RestartAndRunFinish.ps1" />
            </Component>
            <Component Id="cmp10CB5BBA91413FDAC3A2DFD8C7377FAC" Guid="{5F66D55D-365E-4AA7-8D93-6B16146CD904}">
                <File Id="filCB7994D10BEBFD98A3B07F7B2C888D8C" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Set-AutoLogon.ps1" />
            </Component>
            <Component Id="cmpE894702B756034BFD31897AAC436FDB4" Guid="{1ECF2EA4-0692-479A-AB48-8A6DFB81596F}">
                <File Id="fil458A605EF021279645FC8FE5801CF61E" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Set-ExecutionPolicy-Unrestricted.ps1" />
            </Component>
            <Component Id="cmpA53041212D390F3F142D08D425FE9C1B" Guid="{C44E96AE-D589-40B7-8FF3-3419FC00A611}">
                <File Id="fil0D8A580985F079B16C33FBEAEB3C587C" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Set-NetworkConfiguration.ps1" />
            </Component>
            <Component Id="cmp4635026F5353CBB5C45E808415EE600E" Guid="{D22F17C0-3AC2-4369-988C-96774A86A8B2}">
                <File Id="fil973C499A183E1EA7D55FEE6CA0F8B79B" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\TrustHostedCacheServer.ps1" />
            </Component>
            <Component Id="cmp255B951187913EC9C2ADC2FCAFD0163A" Guid="{12434358-DF10-44DA-9CAB-BE5E3A22D103}">
                <File Id="filCCE1E7F0C480EE7040738E94A3B55C68" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Turnoff-UAC.ps1" />
            </Component>
            <Component Id="cmp8CE50199468B230FAB1F1A20C8109F76" Guid="{879A0D3C-353F-417D-8E5A-8EAD3B6F56CF}">
                <File Id="filF7A89888C104F643085E6863584A1451" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\WaitFor-ComputerReady.ps1" />
            </Component>
            <Component Id="cmp356542459EB19A4D2215B5CF1C6DB3C2" Guid="{D93DB8D8-80FD-4D2A-8A14-BCC248CE39AF}">
                <File Id="fil233C87A38852ABA27A0CD2D15DFA21B1" KeyPath="yes" Source="!(wix.TESTSUITE_SCRIPTS_DIR)\Write-Info.ps1" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Scripts_FILES">
            <ComponentRef Id="cmpE4B6C0DE0EC70953DF0F2FF10E3984A9" />
            <ComponentRef Id="cmpDC32C6E9B14A871FC81171043EF54BB7" />
            <ComponentRef Id="cmp9D9222CF10DFFF772231289F1E815D36" />
            <ComponentRef Id="cmpF8495C5CDC1C17C0563F5789098B5A36" />
            <ComponentRef Id="cmpE167FF3D109365BD56DE033371DD4D64" />
            <ComponentRef Id="cmp1A96686C808C75A5D1C5A0B63CD19754" />
            <ComponentRef Id="cmpAD25F206154D00B8414C70B966BF2405" />
            <ComponentRef Id="cmp1427C53AB8AEA3A73B793667CF7A53A2" />
            <ComponentRef Id="cmpABFBE61EF047D527BB431F1B5D86A28D" />
            <ComponentRef Id="cmpA64F619D076C843F91C73BE53225D674" />
            <ComponentRef Id="cmpFFC2DF5C805AC313E371B581DA83B0D1" />
            <ComponentRef Id="cmp32CA0625B7715155B2AAD2F8C993747B" />
            <ComponentRef Id="cmpF016E469E44910BA41827901C5B7B6EA" />
            <ComponentRef Id="cmp67DB43B57A45A24259255047584BE3DC" />
            <ComponentRef Id="cmp0845C8CAFA19714371B4CF5B5A58A1B3" />
            <ComponentRef Id="cmp10CB5BBA91413FDAC3A2DFD8C7377FAC" />
            <ComponentRef Id="cmpE894702B756034BFD31897AAC436FDB4" />
            <ComponentRef Id="cmpA53041212D390F3F142D08D425FE9C1B" />
            <ComponentRef Id="cmp4635026F5353CBB5C45E808415EE600E" />
            <ComponentRef Id="cmp255B951187913EC9C2ADC2FCAFD0163A" />
            <ComponentRef Id="cmp8CE50199468B230FAB1F1A20C8109F76" />
            <ComponentRef Id="cmp356542459EB19A4D2215B5CF1C6DB3C2" />
        </ComponentGroup>
    </Fragment>
</Wix>