<div class="text-left">
    <h2>RemoteFX Encoding Codec</h2>
    <p>
        The RemoteFX codec has been designed to achieve efficient compression, 
        satisfying the goals of high quality and low latency while using a 
        modest amount of computing resources. It is a tile-based transform codec. 
        The transform chosen was a discrete wavelet transform (DWT) because it 
        enables superior compression performance when compressing textual bitmap 
        regions at high quality. The entropy coding is performed using the 
        Run-Length Golomb-Rice Coder (RLGR), which yields compression gains 
        at relatively low computing requirements. You can use <a id="remotefx-encoding-codec">this example</a> to
        try RemoteFX encoding codec.
    </p>
</div>