<?xml version="1.0" encoding="utf-8"?>
<?define SRCDIR=$(env.TestSuiteRoot)\drop\ProtocolTestManager?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="BRANCHCACHEDOCFOLDER">
            <Component Id="cmp78671A98FC03470EB20A25EB8FDADAD2" Guid="{5081B4E0-07BF-4C29-9E03-C2B235A09634}">
                <File Id="fil5D0CD313DCFA49BE8193E238A9841C19" Source="..\Plugins\BranchCachePlugin\BranchCachePlugin\Docs\index.html" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="LIBFOLDER">
	        <?if $(env.DEBUGVER) = 1?>
                <Component Id="BranchCachePlugin.pdb" Guid="{15E37384-5DAC-4B67-916A-2CAE94A1F612}">
                    <File Id="BranchCachePlugin.pdb" Source="$(var.SRCDIR)\lib\BranchCachePlugin.pdb" />
                </Component>
            <?endif ?>
            <Component Id="BranchCachePlugin.dll" Guid="{92B4D3FB-D543-4BEA-BB72-A7195A910CAA}">
                <File Id="BranchCachePlugin.dll" Source="$(var.SRCDIR)\lib\BranchCachePlugin.dll" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="BRANCHCACHECONFIGFOLDER">
            <Component Id="BranchCacheConfigFile" Guid="{AA36A832-2FDE-4116-B459-6962FB7BBD1B}">
                <File Id="BranchCacheConfigFile" Source="..\Plugins\BranchCachePlugin\BranchCachePlugin\config.xml" />
            </Component>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="BRANCHCACHE_PLUGIN">
            <ComponentRef Id="cmp78671A98FC03470EB20A25EB8FDADAD2" />
            <ComponentRef Id="BranchCachePlugin.dll" />
            <ComponentRef Id="BranchCacheConfigFile" />
	        <?if $(env.DEBUGVER) = 1?>
              <ComponentRef Id="BranchCachePlugin.pdb" />
            <?endif ?>
        </ComponentGroup>
    </Fragment>
</Wix>