<?xml version="1.0" encoding="UTF-8"?>
<?define SDK_SRCDIR=$(env.TestSuiteRoot)\drop\ProtoSDK\bin?>
<?define BLDVER=$1.0.0.0?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <Fragment Id="ProtoSDK">

    <ComponentGroup Id="ProductComponents_ProtoSDK" Directory="LIBFOLDER">
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.dll" Guid="{56A4492D-FDCD-4092-9BDE-9E5D3795BFC5}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Cifs.dll" Guid="{D0AC340B-1615-48C2-934E-17B2353DABCC}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Cifs.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Cifs.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Dfsc.dll" Guid="{957E766D-9044-487B-B81B-205244D63F94}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Dfsc.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Dfsc.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.dll" Guid="{680B8C9C-7435-49DD-94A2-17670144DE3A}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Fsrvp.dll" Guid="{8980C150-69DB-4F10-9F1C-42ABA44603B9}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Fsrvp.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Fsrvp.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Rsvd.dll" Guid="{9B932CC4-10C7-47DB-9282-032025C4073F}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Rsvd.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Rsvd.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smb.dll" Guid="{BD049B50-41B3-4E56-9928-80CB1E54D271}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smb.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smb.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smb2.dll" Guid="{AC160B44-6954-4B45-A9F3-73C906F9885D}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smb2.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smb2.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Messages.dll" Guid="{5B56F344-EA60-4727-9F05-7B445740642A}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Messages.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Messages.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Networking.Rpce.dll" Guid="{2750A9F0-1B00-4DC6-9953-2E62786229D8}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Networking.Rpce.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Networking.Rpce.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Security.CryptoLib.dll" Guid="{51936C08-EE59-48BD-A075-129B0576D63E}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Security.CryptoLib.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Security.CryptoLib.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Security.Nlmp.dll" Guid="{A28F2FAA-84FE-4B0B-85CC-963841C80A48}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Security.Nlmp.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Security.Nlmp.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Security.Sspi.dll" Guid="{76E64EF1-C4DF-4B93-B372-75A0573A1A33}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Security.Sspi.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Security.Sspi.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Swn.dll" Guid="{0E6EA196-311E-4E90-BA38-3E0894ED785F}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Swn.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Swn.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Transport.dll" Guid="{CE1D5237-8E9D-4032-938D-38C98DB6ED13}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Transport.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Transport.dll" />
      </Component>
    </ComponentGroup>

  </Fragment>

</Wix>
