<?xml version="1.0" encoding="UTF-8"?>
<?define SDK_SRCDIR=$(env.TestSuiteRoot)\drop\ProtoSDK\bin?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment Id="ProtoSDK">

    <ComponentGroup Id="ProductComponents_ProtoSDK" Directory="LIBFOLDER">
      <?if $(env.DEBUGVER) = 1?>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Asn1Base.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Asn1Base.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Asn1Base.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Cifs.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Cifs.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Cifs.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Dfsc.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Dfsc.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Dfsc.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Fsrvp.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Fsrvp.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Fsrvp.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Rsvd.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Rsvd.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Rsvd.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Sqos.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Sqos.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Sqos.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smb.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smb.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smb.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smb2.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smb2.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smb2.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Messages.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Messages.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Messages.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Networking.Rpce.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Networking.Rpce.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Networking.Rpce.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Security.CryptoLib.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Security.CryptoLib.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Security.CryptoLib.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Security.Nlmp.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Security.Nlmp.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Security.Nlmp.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Security.Sspi.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Security.Sspi.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Security.Sspi.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Swn.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Swn.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Swn.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Transport.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Transport.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Transport.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Security.KerberosLib.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Security.KerberosLib.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Security.KerberosLib.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.ActiveDirectory.Adts.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.ActiveDirectory.Adts.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.ActiveDirectory.Adts.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpbcgr.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpbcgr.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpbcgr.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpedisp.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpedisp.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpedisp.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpedyc.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpedyc.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpedyc.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpegfx.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpegfx.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpegfx.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpegt.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpegt.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpegt.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpei.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpei.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpei.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpemt.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpemt.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpemt.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpeudp.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpeudp.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpeudp.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpeusb.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpeusb.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpeusb.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpevor.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpevor.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpevor.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdprfx.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdprfx.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdprfx.pdb" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Compression.Xpress.pdb" Guid="*" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Compression.Xpress.pdb"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Compression.Xpress.pdb" />
      </Component>
      <?endif ?>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Asn1Base.dll" Guid="{76A7792D-FDCD-4092-9BDE-9E5D3795BFC5}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Asn1Base.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Asn1Base.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.dll" Guid="{56A4492D-FDCD-4092-9BDE-9E5D3795BFC5}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Cifs.dll" Guid="{D0AC340B-1615-48C2-934E-17B2353DABCC}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Cifs.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Cifs.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Dfsc.dll" Guid="{957E766D-9044-487B-B81B-205244D63F94}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Dfsc.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Dfsc.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.dll" Guid="{680B8C9C-7435-49DD-94A2-17670144DE3A}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Fsrvp.dll" Guid="{8980C150-69DB-4F10-9F1C-42ABA44603B9}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Fsrvp.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Fsrvp.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Rsvd.dll" Guid="{9B932CC4-10C7-47DB-9282-032025C4073F}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Rsvd.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Rsvd.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Sqos.dll" Guid="{90D7975C-E8C3-408F-9997-75C40502C3A0}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Sqos.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Sqos.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smb.dll" Guid="{BD049B50-41B3-4E56-9928-80CB1E54D271}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smb.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smb.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smb2.dll" Guid="{AC160B44-6954-4B45-A9F3-73C906F9885D}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smb2.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smb2.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Messages.dll" Guid="{5B56F344-EA60-4727-9F05-7B445740642A}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Messages.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Messages.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Networking.Rpce.dll" Guid="{2750A9F0-1B00-4DC6-9953-2E62786229D8}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Networking.Rpce.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Networking.Rpce.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Security.CryptoLib.dll" Guid="{51936C08-EE59-48BD-A075-129B0576D63E}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Security.CryptoLib.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Security.CryptoLib.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Security.Nlmp.dll" Guid="{A28F2FAA-84FE-4B0B-85CC-963841C80A48}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Security.Nlmp.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Security.Nlmp.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Security.Sspi.dll" Guid="{76E64EF1-C4DF-4B93-B372-75A0573A1A33}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Security.Sspi.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Security.Sspi.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Swn.dll" Guid="{0E6EA196-311E-4E90-BA38-3E0894ED785F}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Swn.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Swn.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Transport.dll" Guid="{CE1D5237-8E9D-4032-938D-38C98DB6ED13}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Transport.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Transport.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Security.KerberosLib.dll" Guid="{B7A49AEB-0B7C-4F01-A60D-D1F273B94C96}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Security.KerberosLib.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Security.KerberosLib.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.ActiveDirectory.Adts.dll" Guid="{6358B77F-AB19-4A98-B22D-6E95A1B5C0C5}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.ActiveDirectory.Adts.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.ActiveDirectory.Adts.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpbcgr.dll" Guid="{48A2467D-F9DA-4DF1-9BBE-A54305284853}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpbcgr.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpbcgr.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpedisp.dll" Guid="{C5669DF3-4176-4E0F-B38A-D093370F0643}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpedisp.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpedisp.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpedyc.dll" Guid="{23D54707-8B4F-4E20-9D1C-A5E8C8DD4AFD}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpedyc.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpedyc.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpegfx.dll" Guid="{C12869C5-66AB-49F2-B220-777059D199C4}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpegfx.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpegfx.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpegt.dll" Guid="{6C40D63A-8874-4232-AC4D-AAB28073726D}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpegt.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpegt.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpei.dll" Guid="{8F518DE7-798D-4659-BA94-F1FD8B189864}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpei.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpei.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpemt.dll" Guid="{62DEE27E-1B18-455F-A644-501436486836}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpemt.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpemt.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpeudp.dll" Guid="{C3B3BB14-E2B6-44F8-B248-802152D94F1F}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpeudp.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpeudp.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpeusb.dll" Guid="{0F1745B8-0334-4915-8419-1E1C0925E2EE}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpeusb.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpeusb.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpevor.dll" Guid="{F6091E95-5087-42D4-95E9-4881AAD5CE4E}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpevor.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdpevor.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdprfx.dll" Guid="{EFE82390-887D-4F52-8D98-B1E0812FA1B2}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdprfx.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.RemoteDesktop.Rdprfx.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smbd.dll" Guid="{142A59A2-925F-4B9A-BC5B-0818B5B28E89}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smbd.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Smbd.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Rdma.dll" Guid="{A2CFB6F7-41DC-4669-B22F-44FF8C6DF7E8}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Rdma.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.FileAccessService.Rdma.dll" />
      </Component>
      <Component Id="Microsoft.Protocols.TestTools.StackSdk.Compression.Xpress.dll" Guid="{758C671E-62DF-4764-BD16-A3D771E31484}" Feature="PTM_Feature">
        <File Id="Microsoft.Protocols.TestTools.StackSdk.Compression.Xpress.dll"
              Source="$(var.SDK_SRCDIR)\Microsoft.Protocols.TestTools.StackSdk.Compression.Xpress.dll" />
      </Component>
    </ComponentGroup>

  </Fragment>

</Wix>
