<?xml version="1.0" encoding="UTF-8"?>

<?define TESTSUITE_SYMBOLS_DIR=$(env.TestSuiteRoot)\drop\TestSuites\MS-AZOD\Bin?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>

    <!-- Files to be installed to test suite. -->
    <!-- Source code and files in drop folder are automatically installed. -->
    <ComponentGroup Id="TESTSUITE_MISC_FILES">
      <ComponentRef Id="Microsoft_Protocols_TestTools_MessageAnalyzer.dll" />   
	  <ComponentRef Id="Microsoft_Protocols_TestTools_MessageAnalyzer.pdb" />   
    </ComponentGroup>

    <DirectoryRef Id="TESTSUITE_BIN_DIR">
      <Component Id="Microsoft_Protocols_TestTools_MessageAnalyzer.dll" Guid="{CEB29581-3303-4E05-86BC-799B928141BF}">
        <File Id="Microsoft_Protocols_TestTools_MessageAnalyzer.dll"
              Source="$(env.TestSuiteRoot)\drop\ProtoSDK\Bin\Microsoft.Protocols.TestTools.MessageAnalyzer.dll" />
      </Component>	
      <Component Id="Microsoft_Protocols_TestTools_MessageAnalyzer.pdb" Guid="{3E5E2F6D-32D3-4D35-8D3D-A8D16186A015}">
        <File Id="Microsoft_Protocols_TestTools_MessageAnalyzer.pdb"
              Source="$(env.TestSuiteRoot)\drop\ProtoSDK\Bin\Microsoft.Protocols.TestTools.MessageAnalyzer.pdb" />
      </Component>		  
    </DirectoryRef>
  </Fragment>
</Wix>